<section>
    <div class="page-header">
        <h2>My Builds <small>{{user.email}}</small></h2>
    </div>

    <table class="build-list">
        <thead>
            <tr class="build-list-header">
                <th>Build</th>
                <th class="duration">Duration</th>
                <th class="coverage" ng-if="features.coverage">Coverage</th>
                <th class="tests">Tests</th>
                <th class="date">When</th>
            </tr>
        </thead>
        <tbody ng-repeat-start="build in builds">
            <tr buildrow="build" showProject="true" showBranches="false"></tr>
        </tbody>
        <tbody ng-repeat-end></tbody>
    </table>

    <ul class="pager">
        <li class="previous" ng-class="nextPage === null ? 'disabled' : ''">
            <a ng-click="loadNextPage()">&larr; Older</a>
        </li>
        <li class="next" ng-class="previousPage === null ? 'disabled' : ''">
            <a ng-click="loadPreviousPage()">Newer &rarr;</a>
        </li>
    </ul>

</section>
