<section>
	<div id="overview">
		<div class="page-header build-header status-{{build.status.id}} result-{{build.result.id}}">
			<div class="indicator" title="{{build.result.name}}">
				<div data-result="{{build.result.id}}"
					 data-status="{{build.status.id}}"
					 data-date-started="{{build.dateStarted}}"
					 data-estimated-duration="{{build.estimatedDuration}}"
					 radial-progress-bar>&nbsp;</div>
			</div>
			<h2>
				{{build.name}}<br>
				<small>
					{{build.target}}
					<span ng-if="build.author"> &mdash; {{build.author.name}}</span>
				</small>
			</h2>
		</div>

		<barchart ng-model="chartData" style="height:130px"></barchart>

		<div class="row">
			<div class="col-lg-9 col-md-8">
				<dl class="flat">
					<dt ng-if="build.author">Author:</dt>
					<dd ng-if="build.author">{{build.author.name}} <span ng-if="build.author.email">(<a href="mailto:{{build.author.email}}">{{build.author.email}}</a>)</span></dd>
					<dt>Project:</dt>
					<dd><a href="{{build.project.link}}">{{build.project.name}}</a></dd>
					<dt ng-if="build.change">Change:</dt>
					<dd ng-if="build.change"><a href="#">{{build.change.name}}</a></dd>
					<dt ng-if="build.revision">Revision:</dt>
					<dd ng-if="build.revision">
						<a href="/projects/{{project.id}}/commits/{{build.revision.sha}}/">{{build.revision.sha}}</a>
					</dd>
					<dt ng-if="build.patch">Patch:</dt>
					<dd ng-if="build.patch"><a href="/api/0/patches/{{build.patch.id}}/?raw=1" target="_self">{{build.patch.id}}</a></dd>
					<dt>Status:</dt>
					<dd>{{build.status.name}} <span ng-if="build.status.id == 'finished'">({{build.result.name}})</span></dd>
					<dt ng-if="build.dateStarted">Started:</dt>
					<dd ng-if="build.dateStarted" time-since="build.dateStarted"></dd>
					<dt ng-if="build.duration">Duration:</dt>
					<dd ng-if="build.duration" duration="build.duration"></dd>
					<dt ng-if="build.external">External:</dt>
					<dd ng-if="build.external"><a href="{{ build.external.link }}">{{ build.external.label }}</a></dd>
				</dl>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="panel panel-default">
  					<div class="panel-body">
						<ul class="nav nav-small">
							<li><a href="javascript:void(0)" ng-click="retryBuild()">Retry this build</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<pre ng-if="build.message" class="build-message" ng-bind-html="formattedBuildMessage"></pre>

		<ul class="nav nav-justified nav-tabs phase-list" ng-if="phases">
			<li ng-repeat="phase in phases | orderBy:'dateStarted'" class="result-{{phase.result.id}}">
				<a href="#">{{phase.name}}</a>
			</li>
		</ul>

	</div>

	<div ng-if="logSources">
		<div class="page-header">
			<h3>Build Log</h3>
		</div>

		<ul class="nav nav-pills" style="margin-bottom:10px;" id="log_sources">
			<li ng-repeat="logSource in logSources">
				<a href="#log-{{logSource.id}}" data-toggle="tab" data-source="{{logSource.id}}">
					{{logSource.name}}
					<span class="spinner-icon" ng-if="build.status.id == 'in_progress'"></span>
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div ng-repeat="logSource in logSources" class="tab-pane build-log-wrapper" id="log-{{logSource.id}}">
				<div class="build-log"></div>
				<a href="{{logSource.link}}" class="expand-log-link"><i class="glyphicon glyphicon-new-window"></i></a>
			</div>
		</div>
	</div>

	<div ng-switch="testStatus">
		<div ng-switch-when="no-results">
			<div class="page-header">
				<h3>Test Results</h3>
			</div>

			<p>No test results were recorded.</p>
		</div>
		<div ng-switch-when="has-results">
			<div class="page-header">
				<h3>Test Results</h3>
			</div>

			<div ng-if="testFailures.total">
				<h4>Failing Tests <small>{{ testFailures.total }} total</small></h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="2">&nbsp;</th>
							<th style="width:110px;text-align:center">Duration</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="testGroup in testFailures.testGroups" class="result-{{testGroup.result.id}}">
							<td class="result"><span></span></td>
							<td>
								<a href="{{ testGroup.link }}">{{ testGroup.name }}</a><br>
								<small ng-if="testGroup.origin">
									This failure originated in <span ng-if="testGroup.origin.id == build.id">this build</span><span ng-if="testGroup.origin.id != build.id"><a href="{{ testGroup.origin.link }}">{{ testGroup.origin.target }}</a><span ng-if="testGroup.origin.author"> &mdash; {{ testGroup.origin.author.name }}</span></span>
								</small>
							</td>
							<td style="text-align:center" duration="testGroup.duration"></td>
						</tr>
					</tbody>
				</table>
				<h4>All Results</h4>
			</div>

			<table class="table table-striped table-bordered" ng-if="testGroups">
				<thead>
					<tr>
						<th colspan="2">&nbsp;</th>
						<th style="width:80px;text-align:center">Failures</th>
						<th style="width:80px;text-align:center">Total</th>
						<th style="width:110px;text-align:center">Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="testGroup in testGroups" class="result-{{testGroup.result.id}}">
						<td class="result"><span></span></td>
						<td><a href="{{ testGroup.link }}">{{ testGroup.name }}</a></td>
						<td style="text-align:center">{{ testGroup.numFailures }}</td>
						<td style="text-align:center">{{ testGroup.numTests }}</td>
						<td style="text-align:center" duration="testGroup.duration"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
