<section ng-controller="buildListCtrl">
	<table class="build-list table table-striped">
		<tbody>
			<tr class="status-{{build.status.id}} result-{{build.result.id}}"
				ng-repeat="build in builds | orderByBuild">
				<td>
					<div class="indicator" title="{{build.result.name}}">
						<div data-result="{{build.result.id}}"
							 radial-progress-bar="50%">&nbsp;</div>
					</div>
				</td>
				<td>
					<a href="#{{build.link}}">{{build.name}}</a><br>

					<small>
						<a href="#">{{build.project.name}}</a>
						<span ng-if="build.author">&mdash; {{build.author.name}}</span>
					</small>
					<span class="status">{{build.status.name}}</span>
					<span class="date" ng-if="build.dateStarted" time-since="build.dateStarted"></span>
				</td>
			</tr>
		</tbody>
	</table>
</section>
