<section ng-controller="changeDetailsCtrl">
	<div id="overview">
		<div class="page-header change-header status-{{change.lastBuild.status.id}} result-{{change.lastBuild.result.id}}">
			<div class="indicator" title="{{change.lastBuild.result.name}}">
				<div data-result="{{change.lastBuild.result.id}}" data-value="{{change.lastBuild.progress}}" radial-progress-bar>&nbsp;</div>
			</div>
			<h2>{{change.name}} <small ng-if="change.revision">({{change.revision.sha}})</small></h2>
		</div>

		<dl class="flat">
			<dt ng-if="change.author">Author:</dt>
			<dd ng-if="change.author">{{change.author.name}}<span ng-if="change.author.email"> (<a href="mailto:{{change.author.email}}">{{change.author.email}}</a>)</span></dd>
			<dt>Project:</dt>
			<dd><a href="#">{{change.project.name}}</a></dd>
			<dt ng-if="change.dateCreated">Created:</dt>
			<dd ng-if="change.dateCreated" time-since="change.dateCreated"></dd>
		</dl>

		<pre ng-if="change.message">{{change.message}}</pre>

	</div>

	<div id="build-results">
		<div class="page-header">
			<h3>Build Results</h3>
		</div>

		<table class="build-list table table-striped" ng-controller="buildListCtrl">
			<tbody>
				<tr ng-repeat="build in builds | orderByBuild" class="status-{{build.status.id}} result-{{build.result.id}}">
					<td>
						<div class="indicator" title="{{build.result.name}}">
							<div data-result="{{build.result.id}}" data-value="{{build.progress}}" ng-radial-progress-bar>&nbsp;</div>
						</div>
					</td>
					<td>
						<a href="#{{build.link}}">{{build.name}}</a><br>

						<small>
							<a href="#">{{build.project.name}}</a>
							<span ng-if="build.author">&mdash; {{build.author.name}}</span>
							<span class="date" ng-if="build.dateStarted">{{timeSince(build.dateStarted)}}</span>
						</small>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</section>
