<section ng-controller="changeListCtrl">
	<table class="change-list table table-striped">
		<tbody>
			<tr class="status-{{change.lastBuild.status.id}} result-{{change.lastBuild.result.id}}"
				ng-repeat="change in changes | orderBy:dateModified:true">
				<td>
					<div class="indicator" title="{{change.lastBuild.result.name}}">
						<div data-result="{{change.lastBuild.result.id}}"
							 data-value="{{change.lastBuild.progress}}" radial-progress-bar>&nbsp;</div>
					</div>
				</td>
				<td>
					<a href="{{change.link}}">{{change.name}}</a><br>

					<small>
						<a href="#">{{change.project.name}}</a>
						<span ng-if="change.author">&mdash; {{change.author.name}}</span>
						<span class="date" ng-if="change.dateModified" time-since="change.dateModified"></span>
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</section>
