<section ui-view>
    <div class="section-header">
		<h3>Phase Breakdown</h3>
	</div>
	<ol class="phase-list">
		<li ng-repeat="phase in phaseList">
			<h4>{{phase.name}} <small duration="phase.duration"></small></h4>
			<table class="table">
				<colgroup>
					<col style="width:20px">
					<col style="width:80px">
					<col>
					<col style="width:100px">
					<col style="width:400px">
				</colgroup>
				<tbody>
					<tr ng-repeat="step in phase.steps" class="status-{{step.status.id}} result-{{step.result.id}}">
						<td>
							<div class="indicator" title="{{step.result.name}}" style="width:20px;height:20px;"></div>
						</td>
						<td duration="step.duration"></td>
						<td>
							<a ng-repeat="logSource in step.logSources"
							   ui-sref="log_details({source_id: logSource.id})"
							   tooltip="Log: {{logSource.name}}"><span class="glyphicon glyphicon-unchecked"></span></a>
							{{step.name}}
						</td>
						<td>{{step.status.name}}</td>
						<td><a href="/nodes/{{step.node.id}}/">{{(step.node.name || step.node.id)|truncate:50}}</a></td>
					</tr>
				</tbody>
			</table>
		</li>
	</ol>
</section>
