<section class="section">
  <div class="section-header">
    <h3>Collected Artifacts</h3>
  </div>
  <div class="section-body">
    <table class="grid-list">
      <thead>
        <tr class="grid-list-header">
          <th>Artifact</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="artifact in artifactList">
          <td>
            <a href="{{artifact.url}}" ng-if="artifact.url">{{artifact.name}}</a>
            <span ng-if="!artifact.url">{{artifact.name}}</span><br>
            <small class="meta">Collected in <strong>{{artifact.jobstep.name}}</strong></small>
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="pager">
      <li class="previous" ng-class="artifactPaginator.previousPage === null ? 'disabled' : ''">
        <a ng-click="artifactPaginator.loadPreviousPage()">&larr; Previous</a>
      </li>
      <li class="next" ng-class="artifactPaginator.nextPage === null ? 'disabled' : ''">
        <a ng-click="artifactPaginator.loadNextPage()">Next &rarr;</a>
      </li>
    </ul>
  </div>
</section>
