<div ng-if="!isSingleJob" ng-include="'partials/includes/job-header.html'"></div>

<!--
<ul class="nav nav-justified nav-tabs phase-list" ng-if="phases">
    <li ng-repeat="phase in phases" class="status-{{phase.status.id}} result-{{phase.result.id}}">
        <a href="/jobs/{{job.id}}/phases/">{{phase.name}}</a>
    </li>
</ul> -->
<div ui-view>
    <div ng-if="isSingleJob">
        <div ng-include="'partials/includes/build-info.html'"></div>
    </div>
    <div ng-if="!isSingleJob">
        <div ng-include="'partials/includes/job-info.html'"></div>
    </div>

    <div ng-if="!isFinished && job.result.id != 'unknown'" class="alert alert-info alert-block">
        <p>Hold tight! This build is still in progress, but we're collecting results and reporting them as quickly as we get them.</p>
    </div>

    <div build-comment-list="build"></div>

    <div ng-include="'partials/includes/job-test-failures.html'"></div>
    <div ng-include="'partials/includes/job-file-coverage.html'"></div>

    <hr>

    <section class="section section-boxed" ng-repeat="phase in phaseList">
        <div class="section-header result-{{phase.result.id}}">
            <div class="indicator-wrapper">
                <div ng-if="phase.status.id == 'finished'">
                    <span class="indicator"></span>
                </div>
                <div ng-if="phase.status.id != 'finished'">
                    <span class="spinner-icon"></span>
                </div>
            </div>
            <h3>{{phase.name}}</h3>
            <div class="toggle" ng-class="{'toggle-open': phase.isVisible}">
                <a ng-click="phase.isVisible = !phase.isVisible"></a>
            </div>
            <div class="timing">
                <span ng-if="phase.duration"><span duration="phase.duration"></span> &mdash;</span>
                {{phase.finishedSteps}} / {{phase.totalSteps}}
            </div>
        </div>
        <div ng-if="phase.isVisible" class="section-body">
            <table class="grid-list">
                <tbody>
                    <tr ng-repeat="step in phase.steps" class="status-{{step.status.id}} result-{{step.result.id}}">
                        <td>
                            <span class="indicator indicator-sm"
                                  ng-if="step.status.id == 'finished'"></span>
                            <span ng-if="step.status.id != 'finished'"
                                  class="spinner-icon spinner-icon-sm"></span>

                            <span ng-if="step.logSources.length">
                                <span ng-repeat="logSource in step.logSources">
                                    {{logSource.name}} (
                                    <span ng-repeat="url in logSource.urls">
                                        <span ng-if="url.type != 'chunked'">
                                            <a href="{{url.url}}" target="_self"> raw </a>
                                        </span>
                                        <span ng-if="url.type == 'chunked'">
                                            | <a ui-sref="log_details({source_id: logSource.id})"> log </a>
                                        </span>
                                    </span>
                                    )
                                </span>
                            </span>
                        </td>
                        <td class="column">
                            <a href="/nodes/{{step.node.id}}/" ng-if="step.node">{{(step.node.name || step.node.id)|truncate:50}}</a>
                        </td>
                        <td class="column" ng-if="step.status.id == 'finished'">
                            <span ng-if="step.duration" duration="step.duration"></span>
                            <span ng-if="!step.duration">{{step.result.name}}</span>
                        </td>
                        <td class="column" ng-if="step.status.id != 'finished'">
                            {{step.status.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

    <div ng-if="isSingleJob" ng-include="'partials/includes/build-event-list.html'"></div>
</div>
