<!-- Job header (only for matrix builds) -->
<div ng-if="!isSingleJob" bind-once>
    <div class="page-header build-header status-{{job.status.id}} result-{{job.result.id}}">
        <ul class="crumb">
            <li class="status-{{build.status.id}} result-{{build.result.id}}">
                <a ui-sref="build_details()" class="indicator" bind-once>#{{build.number}}</a>
            </li>
        </ul>
        <div class="seen-by" bind-once>
            <ul>
                <li ng-repeat="seenUser in seenBy" ng-class="seenUser.email == build.author.email ? 'active' : ''">
                    <a tooltip="{{seenUser.email}}"
                       tooltip-placement="bottom">
                        <img src="{{seenUser.avatar}}&amp;s=16">
                    </a>
                </li>
            </ul>
        </div>
        <h2 slyEvaluateOnlyWhen="build.dateModified">
            {{build.name}}<br>
            <small>
                <span ng-if="build.number"><a ui-sref="job_details()" class="indicator">#{{build.number}}.{{job.number}}</a></span> {{job.name|truncate:20}} &mdash;
                <span class="branch" ng-repeat="branch in build.source.revision.branches">{{branch}}</span>
                <a ui-sref="project_source_details({source_id: build.source.id})">{{build.target}}</a>
                <span ng-if="build.author"> &mdash; {{build.author.name}} <span ng-if="build.author.email"> ({{build.author.email}})</span></span>
            </small>
        </h2>
    </div>
</div>

<!--
<ul class="nav nav-justified nav-tabs phase-list" ng-if="phases">
    <li ng-repeat="phase in phases" class="status-{{phase.status.id}} result-{{phase.result.id}}">
        <a href="/jobs/{{job.id}}/phases/">{{phase.name}}</a>
    </li>
</ul> -->
<div ui-view>
    <section class="section" ng-if="isSingleJob">
        <div ng-include="'partials/includes/build-info.html'"></div>
    </section>

    <section class="section" ng-if="testFailures.total">
        <div class="section-header">
            <h4>Failing Tests <small>{{testFailures.total}} total</small></h4>
        </div>
        <table class="table table-striped table-bordered"
               slyEvaluateOnlyWhen="testFailures.tests.length">
            <thead>
                <tr>
                    <th colspan="2">&nbsp;</th>
                    <th style="width:110px;text-align:center">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testCase in testFailures.tests" class="result-{{testCase.result.id}}">
                    <td class="result"><span></span></td>
                    <td bind-once>
                        <a ui-sref="test_details({test_id: testCase.id})">{{testCase.name}}</a><br>
                        <small ng-if="testCase.origin">
                            This failure likely originated in <span ng-if="testCase.origin.id == job.id">this job</span><span ng-if="testCase.origin.id != job.id"><a href="{{testCase.origin.link}}">{{testCase.origin.target}}</a><span ng-if="testCase.origin.author"> &mdash; {{testCase.origin.author.name}}</span></span>
                        </small>
                        (<a ui-sref="project_test_details({test_id: testCase.hash})">history</a>)
                    </td>
                    <td style="text-align:center" duration="testCase.duration" bind-once></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="section" ng-if="coverageData" bind-once>
        <div class="section-header">
            <h3>File Coverage</h3>
        </div>
        <table class="table table-striped table-bordered"
               slyEvaluateOnlyWhen="testFailures.tests.length">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th style="width:110px;text-align:center">Diff</th>
                    <th style="width:110px;text-align:center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileCoverage in coverageData">
                    <td>{{fileCoverage.filename}}</td>
                    <td style="text-align:center">{{fileCoverage.coveragePercent}}%</td>
                    <td style="text-align:center">{{fileCoverage.diffCoveragePercent}}%</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="section">
        <div class="section-header">
            <div class="line"></div>
            <h3>Test</h3>
            <div class="timing" duration="job.duration"></div>
        </div>

        <section ng-repeat="phase in phases" class="section">
            <div class="section-header">
                <h4>{{phase.name}} <span ng-if="phase.status.id != 'finished'"><span class="spinner-icon"></span></span></h4>
            </div>
            <div ng-if="logSourcesByPhase[phase.id]">
                <tabset type="'links'">
                    <tab ng-repeat="logSource in logSourcesByPhase[phase.id]" class="result-{{logSource.step.result.id}}"
                         heading="{{logSource.name}}"
                         select="loadLogSource(logSource)">

                        <div class="build-log-wrapper" id="log-{{logSource.id}}" bind-once>
                            <div class="build-log"></div>
                            <a ui-sref="log_details({source_id: logSource.id})" class="expand-log-link"><i class="glyphicon glyphicon-new-window"></i></a>
                        </div>

                    </tab>
                </tabset>
            </div>
            <div ng-if="!logSourcesByPhase[phase.id]">
                <p>No logs have been captured.</p>
            </div>
        </section>
    </section>

    <section class="section">
        <div class="section-header">
            <h3>Additional Information</h3>
        </div>
        <ul class="nav nav-list">
            <li><a ui-sref="job_phase_list()">
                View Phase Report<br>
                <small>Detailed breakdown of each phase, timings, and executing host.</small>
            </a></li>
        </ul>
    </section>
</div>
