<div class="build-log-wrapper">
    <div class="build-log expanded"></div>
    <span class="log-spinner spinner-icon spinner-small"></span>
</div>

<div class="clearfix build-log-controls">
    <h3 class="hidden-xs" bind-once>
        {{step.name}} <small class="hidden-sm">{{logSource.name}}</small>
    </h3>
    <div class="pull-right">
        <a href="/api/0/jobs/{{job.id}}/logs/{{logSource.id}}/?raw=1"
           class="btn btn-default"
           target="_self">Raw Log</a>
        <a href="javascript:void(0)"
           class="btn btn-default btn-livescroll">
            <input type="checkbox"> <span>Follow Log</span>
        </a>
    </div>
    <div class="build-log-streaming-disabled-warning">
        <h4>
            <center>Console log too long. Automatic log following disabled.</center>
        </h4>
    </div>
</div>

<div class="build-log-viewer-disabled-warning">
    <h4>
        <center>Console log too long. Top {{MAX_LOG_LINES}} lines shown.</center>
    </h4>
</div>
