<!-- Job header (only for matrix builds) -->
<div ng-if="!isSingleJob" bind-once>
    <div class="page-header build-header status-{{job.status.id}} result-{{job.result.id}}">
        <ul class="crumb">
            <li class="status-{{build.status.id}} result-{{build.result.id}}">
                <a ui-sref="build_details()" class="indicator" bind-once>#{{build.number}}</a>
            </li>
        </ul>
        <div class="seen-by" bind-once>
            <ul>
                <li ng-repeat="seenUser in seenBy" ng-class="seenUser.email == build.author.email ? 'active' : ''">
                    <a tooltip="{{seenUser.email}}"
                       tooltip-placement="bottom">
                        <img src="{{seenUser.avatar}}&amp;s=16">
                    </a>
                </li>
            </ul>
        </div>
        <h2 bind-once>
            {{build.name}}<br>
            <small>
                <span ng-if="build.number"><a ui-sref="job_details()" class="indicator">#{{build.number}}.{{job.number}}</a></span> {{job.name|truncate:20}} &mdash;
                <a ui-sref="project_source_details({source_id: build.source.id})">{{build.target}}</a>
                <span ng-if="build.author"> &mdash; {{build.author.name}} <span ng-if="build.author.email"> ({{build.author.email}})</span></span>
            </small>
        </h2>
    </div>
</div>

<!--
<ul class="nav nav-justified nav-tabs phase-list" ng-if="phases">
    <li ng-repeat="phase in phases" class="status-{{phase.status.id}} result-{{phase.result.id}}">
        <a href="/jobs/{{job.id}}/phases/">{{phase.name}}</a>
    </li>
</ul> -->
<div ui-view>
    <section class="section" ng-if="isSingleJob" bind-once>
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <dl class="flat">
                    <dt ng-if="build.source.revision" bind-once>Revision:</dt>
                    <dd ng-if="build.source.revision" bind-once>
                        <a ui-sref="project_commit_details({commit_id: build.source.revision.sha})">{{build.source.revision.sha}}</a>
                    </dd>
                    <dt ng-if="build.source.patch" bind-once>Patch:</dt>
                    <dd ng-if="build.source.patch" bind-once><a href="/api/0/patches/{{build.source.patch.id}}/?raw=1" target="_self">{{build.source.patch.id}}</a></dd>
                    <dt>Status:</dt>
                    <dd>{{build.status.name}} <span ng-if="build.status.id == 'finished'">({{build.result.name}})</span></dd>
                    <dt ng-if="build.dateStarted">Started:</dt>
                    <dd ng-if="build.dateStarted" time-since="build.dateStarted"></dd>
                    <dt ng-if="build.duration">Duration:</dt>
                    <dd ng-if="build.duration" duration="build.duration"></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="panel panel-default">
                    <ul class="nav nav-small">
                        <li bind-once><a ui-sref="project_source_details({source_id: build.source.id})">
                            <i class="glyphicon glyphicon-search"></i> View Changes</a>
                        </li>
                        <li ng-if="build.status.id == 'finished'"><a href="javascript:void(0)" ng-click="restartBuild()">
                            <i class="glyphicon glyphicon-repeat"></i> Restart Build</a>
                        </li>
                        <li ng-if="build.status.id != 'finished'"><a href="javascript:void(0)" ng-click="cancelBuild()">
                            <i class="glyphicon glyphicon-remove"></i> Cancel Build</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <pre ng-if="formattedBuildMessage" class="build-message"
             ng-bind-html="formattedBuildMessage" bind-once></pre>

    </section>

    <section class="section" ng-if="testFailures.total">
        <div class="section-header">
            <h4>Failing Tests <small>{{ testFailures.total }} total</small></h4>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">&nbsp;</th>
                    <th style="width:110px;text-align:center">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testGroup in testFailures.testGroups" class="result-{{testGroup.result.id}}">
                    <td class="result"><span></span></td>
                    <td bind-once>
                        <a ui-sref="test_details({testgroup_id: testGroup.id})">{{ testGroup.name }}</a><br>
                        <small ng-if="testGroup.origin">
                            This failure likely originated in <span ng-if="testGroup.origin.id == job.id">this job</span><span ng-if="testGroup.origin.id != job.id"><a href="{{ testGroup.origin.link }}">{{ testGroup.origin.target }}</a><span ng-if="testGroup.origin.author"> &mdash; {{ testGroup.origin.author.name }}</span></span>
                        </small>
                    </td>
                    <td style="text-align:center" duration="testGroup.duration" bind-once></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="section" ng-if="logSources">
        <div class="section-header">
            <div class="line"></div>
            <h3>Test</h3>
            <div class="timing" duration="job.duration"></div>
        </div>

        <tabset type="'links'">
            <tab ng-repeat="logSource in logSources" class="result-{{logSource.step.result.id}}"
                 heading="{{logSource.name}}"
                 select="loadLogSource(logSource)">

                <div class="build-log-wrapper" id="log-{{logSource.id}}" bind-once>
                    <div class="build-log"></div>
                    <a ui-sref="log_details({source_id: logSource.id})" class="expand-log-link"><i class="glyphicon glyphicon-new-window"></i></a>
                </div>

            </tab>
        </tabset>
    </section>

    <section ng-switch="testStatus" class="section">
        <div ng-switch-when="no-results">
            <div class="section-header">
                <h3>Test Results</h3>
            </div>

            <p>No test results were recorded.</p>
        </div>
        <div ng-switch-when="has-results">
            <div class="section-header">
                <h3>Test Results</h3>
            </div>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                        <th style="width:80px;text-align:center">Failures</th>
                        <th style="width:80px;text-align:center">Total</th>
                        <th style="width:110px;text-align:center">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="testGroup in visibleTestGroups"
                        infinite-scroll="loadMoreTestGroups()"
                        infinite-scroll-distance="2"
                        class="result-{{testGroup.result.id}}">
                        <td class="result"><span></span></td>
                        <td><a ui-sref="test_details({testgroup_id: testGroup.id})" bind-once>{{testGroup.name}}</a></td>
                        <td style="text-align:center" bind-once>{{testGroup.numFailures}}</td>
                        <td style="text-align:center" bind-once>{{testGroup.numTests}}</td>
                        <td style="text-align:center" duration="testGroup.duration" bind-once></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
