<div class="build-log-wrapper" id="log-{{logSource.id}}">
    <div class="build-log expanded"></div>
    <span class="spinner-icon spinner-small"></span>
</div>

<div class="clearfix build-log-controls" ng-show="step.status.id != 'finished'">
    <h3 class="hidden-xs">
        {{step.name}} <small class="hidden-sm">{{logSource.name}}</small>
    </h3>
    <div class="pull-right">
        <a href="/api/0/jobs/{{job.id}}/logs/{{logSource.id}}/?raw=1"
           class="btn btn-default"
           target="_self">Raw Log</a>
        <a href="javascript:void(0)"
           class="btn btn-default btn-livescroll">
            <input type="checkbox"> <span>Follow Log</span>
        </a>
    </div>
</div>
