<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="row container" style="display:none">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="project-selector">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <span ng-if="activeProject">{{activeProject.name}}</span>
          <span ng-if="!activeProject">Projects</span>
          <span class="caret"></span>
        </a>
        <a href="/" title="Dashboard" class="navbar-logo">
          <i class="glyphicon glyphicon-th"></i>
        </a>
        <nav class="dropdown-menu">
          <ul>
            <li ng-repeat="project in projectList" ng-class="project.id == activeProject.id ? 'active' : ''">
              <a ui-sref="project_commits({project_id: project.slug})" ui-sref-opts="{inherit: false}">
                {{project.name}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div ng-if="!activeUser">
      <ul class="nav navbar-nav navbar-right changes-navbar-small hidden-xs">
        <li><a href="/auth/login/" target="_self">Log in</a></li>
      </ul>
    </div>
    <div ng-if="activeUser">
      <ul class="nav navbar-nav navbar-right changes-navbar-small hidden-xs">
        <li id="my-builds"><a href="/my/builds/" title="My Builds"><i class="glyphicon glyphicon-user"></i></a></li>
        <li ng-if="activeUser.isAdmin"><a ui-sref="admin_home()" title="Admin"><i class="glyphicon glyphicon-cog"></i></a></li>
        <li><a href="/auth/logout/" target="_self" title="Logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div>

    <div ng-if="activeProject">
      <form class="navbar-form navbar-right hidden-sm hidden-xs" role="search" ng-submit="searchBuilds()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="projectSearchQuery.query" placeholder="search builds">
        </div>
      </form>

      <div class="navbar-stats navbar-right hidden-md hidden-sm hidden-xs">
        <span class="stat"
              ng-if="activeProject.stats.greenPercent >= 0">
          <span tooltip="Percentage of commits which passed in the last week."
                tooltip-placement="bottom"
                tooltip-append-to-body="true">{{activeProject.stats.greenPercent}}% Green</span>
          <span ng-if="activeProject.stats.greenPercentChange"
                ng-class="{true: 'change up good', false: 'change down bad'}[activeProject.stats.greenPercentChange > 0]">
            <i class="arrow"></i> {{activeProject.stats.greenPercentChange}}%
          </span>
        </span>
        <span class="stat"
              ng-if="activeProject.stats.avgDuration">
          <span duration="activeProject.stats.avgDuration"
                tooltip="Average duration of successful builds in the last week."
                tooltip-placement="bottom"
                tooltip-append-to-body="true"></span>
          <span ng-if="activeProject.stats.avgDurationChange"
                ng-class="{true: 'change up', false: 'change down good'}[activeProject.stats.avgDurationChange > 0]">
            <i class="arrow"></i> <span duration="activeProject.stats.avgDurationChange"></span>
          </span>
        </span>
      </div>

      <div class="navbar-collapse collapse navbar-header-collapse">
        <ul class="nav navbar-nav">
          <li ng-if="activeProject.repository.backend != 'unknown'"
              ui-sref-active="active"><a ui-sref="project_commits({grg: false})">Commits</a></li>
          <li ng-if="activeProject.repository.backend == 'unknown'"
              ui-sref-active="active"><a ui-sref="project_builds()">Builds</a></li>
          <li ui-sref-active="active" ng-if="activeProjectFeatures.tests"><a ui-sref="project_tests({parent: null})">Tests</a></li>
          <li ui-sref-active="active" ng-if="activeProjectFeatures.coverage"><a ui-sref="project_coverage({parent: null})">Coverage</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="body">
  <div class="row container">
    <div ui-view>
      <div class="loading">
        <div class="spinner-icon spinner-large"></div>
      </div>
    </div>
  </div>
</section>

<footer bind-once>
  Changes {{ appVersion }} &mdash; Made with love from <a href="https://opensource.dropbox.com">Dropbox</a>
</footer>
