<section class="section">
    <div class="page-header">
        <a class="pull-right btn btn-default" ng-click="toggle_offline()" ng-if="offline !== undefined">
            <span ng-if="!offline">Mark this node temporarily offline</span>
            <span ng-if="offline">Bring this back node online</span>
        </a>
        <h2>{{node.name}}</h2>
    </div>

    <dl class="flat">
        <dt ng-show="node.clusters">Clusters:</dt>
        <dd ng-show="node.clusters"><a ui-sref="cluster_details({cluster_id: cluster.id})"
               ng-repeat="cluster in node.clusters">{{cluster.name}}</a>
        </dd>
        <dt>First Seen:</dt>
        <dd><span time-since="node.dateCreated"></span></dd>
    </dl>
</section>

<section class="section">
    <div class="page-header">
        <h3>Jobs</h3>
    </div>

    <table class="build-list">
        <tr class="build-list-header">
            <th class="name">Job</th>
            <th class="duration">Duration</th>
            <th class="date">When</th>
        </tr>
        <tr class="status-{{job.status.id}} result-{{job.result.id}}"
            ng-repeat="job in jobList">
            <td class="name">
                <a ui-sref="job_details({project_id: job.project.slug, build_id: job.build.id, job_id: job.id})" class="indicator" bind-once>#{{job.build.number}}.{{job.number}}</a>
                <h5 bind-once><a ui-sref="job_details({project_id: job.project.slug, build_id: job.build.id, job_id: job.id})">{{job.build.name}}</a></h5>
                <div class="info" bind-once>
                    <a ui-sref="project_builds({project_id: job.project.slug})">{{job.project.name}}</a> &mdash;
                    {{job.build.target}}
                </div>
            </td>
            <td class="duration">
                <span ng-if="job.duration && job.dateFinished" duration="job.duration"></span>
                <span ng-if="!job.dateFinished"
                      type="{{job.result.id}}"
                      value="job|buildEstimatedProgress"
                      progressbar>&nbsp;</span>
            </td>
            <td class="date"><span time-since="job.dateCreated"></span></td>
        </tr>
    </table>

    <ul class="pager">
        <li class="previous" ng-class="jobPaginator.previousPage === null ? 'disabled' : ''">
            <a ng-click="jobPaginator.loadPreviousPage()">&larr; Previous</a>
        </li>
        <li class="next" ng-class="jobPaginator.nextPage === null ? 'disabled' : ''">
            <a ng-click="jobPaginator.loadNextPage()">Next &rarr;</a>
        </li>
    </ul>
</section>
