<section>
    <div class="page-header" bind-once>
        <h2>{{commit.id}}</h2>
    </div>
    <div class="row" bind-once>
        <div class="col-lg-9 col-md-8">
            <dl class="flat">
                <dt ng-if="commit.author">Author:</dt>
                <dd ng-if="commit.author">{{commit.author.name}} <span ng-if="commit.author.email">(<a href="mailto:{{commit.author.email}}">{{commit.author.email}}</a>)</span></dd>
                <dt>Repository:</dt>
                <dd>{{repository.url}}</dd>
                <dt>Date:</dt>
                <dd time-since="commit.dateCreated"></dd>
                <dd>Branch:</dd>
                <dt><span ng-repeat="branch in commit.branches">{{branch}}</span></dt>
            </dl>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-small">
                        <li><a href="javascript:void(0)" ng-click="createBuild()">Build this Commit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="section-header">
            <h2>Builds</h2>
        </div>
        <ul class="build-list">
            <li class="build-list-header">
                Build
                <div class="date">Date</div>
                <div class="tests">Tests</div>
                <div class="duration">Duration</div>
            </li>
            <li ng-repeat="build in builds" class="status-{{build.status.id}} result-{{build.result.id}}">
                <a ui-sref="build_details({build_id: build.id})" class="indicator" bind-once>#{{build.number}}</a>
                <h5 bind-once><a ui-sref="build_details({build_id: build.id})">{{build.name}}</a></h5>
                <div class="info">
                    <a ui-sref="project_source_details({source_id: build.source.id})" bind-once>{{build.target}}</a>
                    <span ng-if="build.author" bind-once>&mdash; {{build.author.name}}</span>
                </div>
                <div class="date" time-since="build.dateCreated"></div>
                <div class="tests">
                    {{build.stats.test_count}}
                </div>
                <div class="duration">
                    <span ng-if="build.duration && build.dateFinished" duration="build.duration"></span>
                    <span ng-if="!build.dateFinished"
                          type="{{build.result.id}}"
                          value="build|buildEstimatedProgress"
                          progressbar>&nbsp;</span>
                </div>
            </li>
        </ul>
    </section>
</section>
