<div class="page-header">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_test_search()">All Tests</a>
    </div>
	<h2>Test Report</h2>
</div>

<ul class="nav nav-links nav-links-sm">
	<li class="nav-header"><h6>Graph by:</h6></li>
	<li ng-class="selectedChart == 'count' ? 'active' : ''">
		<a ng-click="selectChart('count')">Count</a>
	</li>
	<li ng-class="selectedChart == 'duration' ? 'active' : ''">
		<a ng-click="selectChart('duration')">Duration</a>
	</li>
	<li ng-class="selectedChart == 'retries' ? 'active' : ''">
		<a ng-click="selectChart('retries')">Retries</a>
	</li>
	<li ng-class="selectedChart == 'missing' ? 'active' : ''">
		<a ng-click="selectChart('missing')">Missing</a>
	</li>
</ul>

<barchart ng-model="chartData" style="height:130px;margin-bottom:20px;" class="hidden-xs"></barchart>

<ul class="breadcrumb" ng-if="trail">
	<li ng-repeat="piece in trail"><a ui-sref="project_tests({parent: piece.path})">{{piece.name}}</a></li>
</ul>

<section>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th style="width:100px;text-align:center">Tests</th>
				<th style="width:100px;text-align:center">Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="test in testGroupList track by test.name">
				<td>
					<a ui-sref="project_tests({parent: test.path})" ng-if="test.numTests > 1">{{test.name}}</a>
					<span ng-if="test.numTests == 1">{{test.name}}</span>
				</td>
				<td style="text-align:center">{{test.numTests}}</td>
				<td style="text-align:center" duration="test.totalDuration"></td>
			</tr>
		</tbody>
	</table>
</section>
