<section ui-view>
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_builds()">All Builds</a>
            <a class="btn btn-sm btn-default" ui-sref="project_new_build()">Create Build</a>
        </div>
        <h2>Commit Log</h2>
    </div>

    <div ng-if="chartData">
        <ul class="nav nav-links nav-links-sm">
            <li class="nav-header"><h6>Graph by:</h6></li>
            <li ng-class="selectedChart == 'duration' ? 'active' : ''">
                <a ng-click="selectChart('duration')">Build Duration</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'test_count' ? 'active' : ''">
                <a ng-click="selectChart('test_count')">Test Count</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'test_rerun_count' ? 'active' : ''">
                <a ng-click="selectChart('test_rerun_count')">Test Retries</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'tests_missing' ? 'active' : ''">
                <a ng-click="selectChart('tests_missing')">Missing Tests</a>
            </li>
        </ul>

        <barchart data="chartData.data" options="chartData.options"
                  style="height:130px;margin-bottom:20px;" class="hidden-xs"></barchart>
    </div>

    <table class="build-list">
        <tr class="build-list-header">
            <th>Build</th>
            <th class="duration">Duration</th>
            <th class="coverage" ng-if="features.coverage">Coverage</th>
            <th class="tests" ng-if="features.tests">Tests</th>
            <th class="date">When</th>
        </tr>

        <tbody ng-repeat-start="commit in commitList">
            <tr buildrow="commit.build"
                features="features"
                ng-if="commit.build"></tr>
            <tr ng-if="!commit.build">
                <td class="name">
                    <h5>{{commit.subject}}</h5>
                    <div class="info" bind-once>
                        <span class="branch" ng-repeat="branch in commit.branches">{{branch}}</span>
                        <a ui-sref="project_commit_details({commit_id: commit.id})">{{commit.id.substr(0, 12)}}</a>
                        <span ng-if="commit.author">&mdash; {{commit.author.name}}</span>
                    </div>
                </td>
                <td class="duration"></td>
                <td class="coverage" ng-if="features.coverage"></td>
                <td class="tests" ng-if="features.tests"></td>
                <td class="date"></td>
            </tr>
        </tbody>
        <tbody ng-repeat-end></tbody>
    </table>

    <ul class="pager">
        <li class="previous" ng-class="commitPaginator.previousPage === null ? 'disabled' : ''">
            <a ng-click="commitPaginator.loadPreviousPage()">&larr; Previous</a>
        </li>
        <li class="next" ng-class="commitPaginator.nextPage === null ? 'disabled' : ''">
            <a ng-click="commitPaginator.loadNextPage()">Next &rarr;</a>
        </li>
    </ul>

</section>
