<section>
    <div id="overview">
        <div class="page-header">
            <h2>{{test.shortName}}<br><small>{{test.package}}</small></h2>
        </div>
    </div>

    <barchart data="chartData.data" options="chartData.options"
              style="height:130px"></barchart>

    <dl class="flat">
        <dt>First Seen:</dt>
        <dd>
            <a ui-sref="build_details({build_id: test.firstBuild.id})">#{{test.firstBuild.number}} &mdash; {{test.firstBuild.target}}</a><br>
            <span ng-if="test.firstBuild.author">{{test.firstBuild.author.name}} &mdash; </span><span time-since="test.firstBuild.dateCreated"></span>
        </dd>
<!--        <dt>Last Seen:</dt>
        <dd>
            <a href="{{test.lastBuild.link}}">{{test.lastBuild.target}}</a><br>
            <span ng-if="test.lastBuild.author">{{test.lastBuild.author.name}} &mdash; </span><span time-since="test.lastBuild.dateCreated"></span>
        </dd> -->
        <dt>Duration: <span class="help" title="duration from last build">?</span></dt>
        <dd duration="test.duration"></dd>
    </dl>

    <hr><br>

    <section class="section">
        <div class="section-header">
            <h3>Test History</h3>
        </div>

        <table class="grid-list">
            <thead>
                <tr class="grid-list-header">
                    <th>Result</th>
                    <th>Source</th>
                    <th class="column">When</th>
                    <th class="column">Duration</th>
                    <th class="column">Retries</th>
                </tr>
            </thead>
            <tr ng-repeat="result in results" class="result-{{result.result.id}}">
                <td class="build-list"> <!-- nasty hack for indicator styling -->
                    <a class="indicator"
                       ui-sref="test_details({project_id: result.job.build.project.slug, build_id: result.job.build.id, job_id: result.job.id, test_id: result.id})">
                       {{result.result.id}}
                    </a>
                </td>
                <td ng-if="result.job.build.source.isCommit">
                    <data-commit-info commit="result.job.build" title="result.job.build.name"></data-commit-info>
                </td>
                <td ng-if="!result.job.build.source.isCommit">
                    <a ui-sref="project_source_details({source_id: result.job.build.source.id})">{{result.job.build.target}}</a>
                </td>
                <td class="column" time-since="result.job.build.dateCreated"></td>
                <td class="column" duration="result.duration"></td>
                <td class="column">{{ result.numRetries}}</td>
            </tr>
        </table>

        <ul class="pager">
            <li class="previous" ng-class="testPaginator.previousPage === null ? 'disabled' : ''">
                <a ng-click="testPaginator.loadPreviousPage()">&larr; Previous</a>
            </li>
            <li class="next" ng-class="testPaginator.nextPage === null ? 'disabled' : ''">
                <a ng-click="testPaginator.loadNextPage()">Next &rarr;</a>
            </li>
        </ul>

    </section>
</section>
