<section ui-view>
    <div class="page-header">
        <h2>Source Details</h2>
    </div>

    <dl class="flat">
        <dt>Sha:</dt>
        <dd>{{source.revision.id}}</dd>
        <dt>Patch:</dt>
        <dd ng-if="source.patch"><a href="/api/0/patches/{{source.patch.id}}/?raw=1" target="_self">{{source.patch.id}}</a></dd>
        <dd ng-if="!source.patch">&mdash;</dd>
    </dl>

    <section class="section">
        <div class="section-header">
            <h4>Builds</h4>
        </div>
        <ul class="build-list">
            <li class="build-list-header">
                Build
                <div class="date">Date</div>
                <div class="tests">Tests</div>
                <div class="duration">Duration</div>
            </li>
            <li ng-repeat="build in builds" class="status-{{build.status.id}} result-{{build.result.id}}">
                <a ui-sref="build_details({project_id: build.project.id, build_id: build.id})" class="indicator" bind-once>#{{build.number}}</a>
                <h5 bind-once><a ui-sref="build_details({project_id: build.project.id, build_id: build.id})">{{build.name}}</a></h5>
                <div class="info">
                    <a ui-sref="project_builds({project_id: build.project.id})">{{build.project.name}}</a> &mdash;
                    <span ng-if="build.author" bind-once>&mdash; {{build.author.name}}</span>
                </div>
                <div class="date" time-since="build.dateCreated"></div>
                <div class="tests">
                    {{build.stats.test_count}}
                </div>
                <div class="duration">
                    <span ng-if="build.duration && build.dateFinished" duration="build.duration"></span>
                    <span ng-if="!build.dateFinished"
                          type="{{build.result.id}}"
                          value="build|buildEstimatedProgress"
                          progressbar>&nbsp;</span>
                </div>
            </li>
        </ul>
    </section>

    <section class="section">
        <div class="section-header">
            <h4>Diff</h4>
        </div>
        <div ng-if="source.diff">
            <div hljs source="source.diff" language="diff"></div>
        </div>
        <div ng-if="!source.diff">
            <p>No diff available for this source.</p>
        </div>
    </section>
</section>
