<section ui-view>
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ui-sref="project_new_build()">Create Build</a>
        </div>
        <h2>Builds</h2>
    </div>

    <div ng-if="chartData">
        <ul class="nav nav-links nav-links-sm">
            <li class="nav-header"><h6>Graph by:</h6></li>
            <li ng-class="selectedChart == 'duration' ? 'active' : ''">
                <a ng-click="selectChart('duration')">Build Duration</a>
            </li>
            <li ng-class="selectedChart == 'test_count' ? 'active' : ''">
                <a ng-click="selectChart('test_count')">Test Count</a>
            </li>
            <li ng-class="selectedChart == 'test_rerun_count' ? 'active' : ''">
                <a ng-click="selectChart('test_rerun_count')">Test Retries</a>
            </li>
            <li ng-class="selectedChart == 'tests_missing' ? 'active' : ''">
                <a ng-click="selectChart('tests_missing')">Missing Tests</a>
            </li>
        </ul>

        <barchart ng-model="chartData" style="height:130px;margin-bottom:20px;" class="hidden-xs"></barchart>
    </div>

    <div ng-if="builds.length">
        <ul class="build-list">
            <li class="build-list-header">
                Build
                <div class="date">When</div>
                <div class="tests">Tests</div>
                <div class="duration">Duration</div>
            </li>
            <li ng-repeat="build in builds"
                class="status-{{build.status.id}} result-{{build.result.id}}"
                slyEvaluateOnlyWhen="build.dateModified">
                <a ui-sref="build_details({build_id: build.id})" class="indicator">#{{build.number}}</a>
                <h5><a ui-sref="build_details({build_id: build.id})">{{build.name}}</a></h5>
                <div class="info">
                    <span class="branch" ng-repeat="branch in build.source.revision.branches">{{branch}}</span>
                    <a ui-sref="project_source_details({source_id: build.source.id})">{{build.target}}</a>
                    <span ng-if="build.author">&mdash; {{build.author.name}}</span>
                </div>
                <div class="date" time-since="build.dateCreated"></div>
                <div class="tests">
                    {{build.stats.test_count}}
                </div>
                <div class="duration">
                    <span ng-if="build.duration && build.status.id == 'finished'" duration="build.duration"></span>
                    <span ng-if="build.status.id != 'finished'"
                          type="{{build.result.id}}"
                          value="build|buildEstimatedProgress"
                          progressbar>&nbsp;</span>
                </div>
            </li>
        </ul>

        <ul class="pager">
            <li class="previous" ng-class="nextPage === null ? 'disabled' : ''">
                <a ng-click="loadNextPage()">&larr; Older</a>
            </li>
            <li class="next" ng-class="previousPage === null ? 'disabled' : ''">
                <a ng-click="loadPreviousPage()">Newer &rarr;</a>
            </li>
        </ul>
    </div>
    <div ng-if="!builds.length">
        <p>There are no builds to show here.</p>
    </div>
</section>
