<section>
	<div id="overview">
		<div class="page-header">
			<h2>Settings for {{project.name}}</h2>
		</div>

		<fieldset>

			<legend>VCS</legend>

			<dl class="flat">
				<dt>URL:</dt>
				<dd>{{ repo.url }}</dd>
				<dt>Backend:</dt>
				<dd>{{ repo.backend.name }}</dd>
			</dl>

		</fieldset>

		<fieldset>

			<legend>Notifications</legend>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" value="1" ng-model="options.mail.notify_author">
					Notify authors of build failures.
				</label>
			</div>

			<div class="form-group">
				<label>Addresses to notify of any build failure</label>
				<input type="text" class="form-control" ng-model="options.mail.notify_addresses">
			</div>

			<div class="form-group">
				<label>Addresses to notify of failures from commits (not patches)</label>
				<input type="text" class="form-control" ng-model="options.mail.notify_addresses_revisions">
			</div>

		</fieldset>

		<fiedlset>

			<legend>Green Build</legend>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" value="1" ng-model="options.green_build.notify">
					Notify of passing builds.
				</label>
			</div>

			<div class="form-group">
				<label>Project name</label>
				<input type="text" class="form-control" ng-model="options.green_build.project">
			</div>

		</fieldset>

		<fieldset>

			<legend>Builds</legend>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" value="1"  ng-model="options.build.allow_patches">
					Allow builds to be created from patches.
				</label>
			</div>

		</fieldset>

		<fieldset>

			<legend>Build Plans</legend>

			<ul>
				<li ng-repeat="plan in plans">
					<strong>{{ plan.name }}</strong>
					<ol>
						<li ng-repeat="step in plan.steps">
							{{ step.name }}
						</li>
					</ol>
				</li>
			</ul>

		</fieldset>
	</div>
</section>
