<section class="section">
    <div class="section-header">
        <h2 class="pull-left">Tests</h2>
        <div class="btn-group" class="pull-left" style="margin-left: 20px;">
            <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_tests()">Overview</a>
            <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_test_search()">All Tests</a>
            <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_flaky_tests()">Flaky Tests</a>
        </div>
    </div>

    <barchart
        data="chartData.data"
        options="chartData.options"
        style="height: 130px; margin-bottom: 30px;"
        class="hidden-xs">
    </barchart>

    <h3>Flaky tests in {{date}}</h3>

    <div ng-if="flakyTests.length">
        <p>
            A flaky run for a test is one in which the test failed initially,
            and then passed when re-run.
        </p>

        <table class="grid-list flaky-test-table">
            <thead>
                <tr class="grid-list-header">
                    <th class="flaky-test-col-name">Test</th>
                    <th class="column flaky-test-col-history">History</th>
                    <th class="column flaky-test-col-runs">Flaky runs<br />(% of passing runs)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test in flakyTests track by test.hash">
                    <td class="flaky-test-col-name">
                        <a ui-sref="test_details({project_id: test.project_id, build_id: test.build_id, job_id: test.job_id, test_id: test.id})">{{test.name}}</a><br />
                        <small ng-if="test.package" class="flaky-test-package">{{test.package}}</small>
                    </td>
                    <td class="column flaky-test-col-history">
                        <barchart
                            class="flaky-test-barchart"
                            data="test.chartData.data"
                            options="test.chartData.options">
                        </barchart>
                    </td>
                    <td class="column flaky-test-col-runs">
                        {{test.flaky_runs}}
                        ({{(100*test.flaky_runs/test.passing_runs).toFixed(2)}}%)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p ng-if="!flakyTests.length">
        There were no flaky tests in {{date}}.
    </p>
</section>
