<section>
	<div id="overview">
		<div class="page-header">
			<div class="pull-right">
				<label class="btn btn-sm" ng-class="includePatches == 1 ? 'btn-primary' : 'btn-default'">
					<input type="checkbox" name="include_patches" ng-model="includePatches"> Show Patches
				</label>
			</div>
			<h2>Build History</h2>
		</div>

		<barchart ng-model="chartData" style="height:130px"></barchart>

		<div ng-if="builds">
			<ul class="pager">
				<li class="previous" ng-class="previousPage === null ? 'disabled' : ''">
					<a ng-click="loadPreviousPage()">&larr; Newer</a>
				</li>
				<li class="next" ng-class="nextPage === null ? 'disabled' : ''">
					<a ng-click="loadNextPage()">Older &rarr;</a>
				</li>
			</ul>

			<table class="build-list table table-striped">
				<tbody>
					<tr ng-repeat="build in builds" class="status-{{build.status.id}} result-{{build.result.id}}">
						<td>
							<div class="indicator" title="{{build.result.name}}">
								<div data-result="{{build.result.id}}"
								     data-status="{{build.status.id}}"
								 	 data-date-started="{{build.dateStarted}}"
								 	 data-estimated-duration="{{build.estimatedDuration}}"
								 	 radial-progress-bar>&nbsp;</div>
							</div>
						</td>
						<td>
							<a href="{{build.link}}">{{build.name}}</a><br>

							<small>
								{{build.target}}
								<span ng-if="build.author">&mdash; {{build.author.name}}</span>
							</small>
							<span class="status">{{getBuildStatus(build)}}</span>
							<span class="date" ng-if="build.dateStarted">
								<span time-since="build.dateStarted"></span>
								<span ng-if="build.duration"> &mdash; <span duration="build.duration"></span></span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>

			<ul class="pager">
				<li class="previous" ng-class="previousPage === null ? 'disabled' : ''">
					<a ng-click="loadPreviousPage()">&larr; Newer</a>
				</li>
				<li class="next" ng-class="nextPage === null ? 'disabled' : ''">
					<a ng-click="loadNextPage()">Older &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</section>
