<h2>
	{{project.name}} Stats
	<small>{{buildStats.period[1] | date}} through {{buildStats.period[0] | date}}</small>
</h2>

<h3>
	Overall Stability
	<small>{{buildStats.percentPassed}}% of builds passed this period</small>
</h3>

<div class="progress">
	<div class="progress-bar progress-bar-success" style="width:{{buildStats.percentPassed}}%">
		<span>{{buildStats.numPassed}} Passed</span>
	</div>
	<div class="progress-bar progress-bar-danger" style="width:{{100 - buildStats.percentPassed}}%">
    	<span>{{buildStats.numFailed}} Failed</span>
  	</div>
</div>

<div ng-if="buildStats.previousPeriod.numBuilds">
	<p ng-if="buildStats.avgBuildTime">The average build time was <span duration="buildStats.avgBuildTime"></span> (<span ng-if="buildStats.buildTimeChange >= 0">+</span><span duration="buildStats.buildTimeChange"></span>).</p>
	<p>During the previous period, {{buildStats.previousPeriod.percentPassed}}% of the {{buildStats.previousPeriod.numBuilds}} builds passed.</p>
</div>

<div ng-if="newSlowTestGroups">
	<h3>Fresh Sadness <small>Newly created tests that are contributing to the slowness</h3>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th style="width:110px;text-align:center">Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="testGroup in newSlowTestGroups" class="result-{{testGroup.result.id}}">
				<td>
					<a href="{{ testGroup.link }}">{{testGroup.name}}</a>
				</td>
				<td style="text-align:center" duration="testGroup.duration"></td>
			</tr>
		</tbody>
	</table>
</small>
