<section ui-view>
	<ul class="project-list">
		<li ng-repeat="project in projects"
		    slyEvaluateOnlyWhen="project.lastPassingBuild.dateModified"
		    class="{{getProjectClass(project)}}">
			<a ui-sref="project_commits({project_id: project.slug})">
				<h4 bind-once>{{project.name}}</h4>
				<div ng-if="project.lastPassingBuild">
					<small>
						<span ng-if="project.hasCoverage">
							{{project.coveragePercent}}% code coverage
							<span ng-if="project.lastPassingBuild.duration"> &mdash; <span duration="project.lastPassingBuild.duration"></span></span>
						</span>
						<span ng-if="project.lastPassingBuild.duration && !project.hasCoverage" duration="project.lastPassingBuild.duration"></span>
					</small>
				</div>
				<div ng-if="!project.lastPassingBuild">
					<small>No build information available</small>
				</div>
			</a>
		</li>
	</ul>
</section>
