<section ui-view>
    <div class="page-header">
        <h2>Source Details</h2>
    </div>

    <dl class="flat" ng-hide="source.isCommit">
        <dt>Patch:</dt>
        <dd>
            <a href="/api/0/patches/{{source.patch.id}}/?raw=1" target="_self">{{source.patch.id}}</a>
            <span ng-if="source.patch.external">
                [<a href="{{source.patch.external.link}}">{{source.patch.external.label}}</a>]
            </span>
        </dd>
        <dt ng-if="source.revision">Parent:</dt>
        <dd ng-if="source.revision">
            <a ui-sref="project_commit_details({project_id: project.id, commit_id: source.revision.sha})">{{source.revision.sha.substr(0, 12)}}</a>
            <span ng-if="source.revision.external">
                [<a href="{{source.revision.external.link}}">{{source.revision.external.label}}</a>]
            </span>
        </dd>
        <dt>Discovered:</dt>
        <dd time-since="source.dateCreated"></dd>
    </dl>
    <dl class="flat" ng-show="source.isCommit">
        <dt>Commit:</dt>
        <dd>
            {{source.revision.sha.substr(0, 12)}}
            <span ng-if="source.revision.external">
                [<a href="{{source.revision.external.link}}">{{source.revision.external.label}}</a>]
            </span>
        </dd>
        <dt ng-if="source.revision.parents">Parents:</dt>
        <dd ng-if="source.revision.parents">
            <a ui-sref="project_commit_details({project_id: project.id, commit_id: parent})"
               ng-repeat="parent in source.revision.parents">{{parent.substr(0, 12)}}</a>
        </dd>
        <dt>Discovered:</dt>
        <dd time-since="source.dateCreated"></dd>
        <dt ng-if="source.revision.author">Author:</dt>
        <dd ng-if="source.revision.author">
            <span ng-show="source.revision.author.email">{{source.revision.author.email}}</span>
            <span ng-hide="source.revision.author.email">{{source.revision.author.name}}</span>
        </dd>
    </dl>

    <section class="section">
        <div class="section-header">
            <h3>Builds</h3>
        </div>

        <table class="build-list">
            <thead>
                <tr class="build-list-header">
                    <th>Build</th>
                    <th class="duration">Duration</th>
                    <th class="coverage" ng-if="features.coverage">Coverage</th>
                    <th class="tests" ng-if="features.tests">Tests</th>
                    <th class="date">When</th>
                </tr>
            </thead>
            <tbody ng-repeat-start="build in builds">
                <tr buildrow="build" features="features" show-project="true"></tr>
            </tbody>
            <tbody ng-repeat-end></tbody>
        </table>
    </section>

    <section class="section">
        <div class="section-header">
            <h3>Diff</h3>
        </div>
        <div ng-if="source.diff">
            <div hljs source="source.diff" language="diff"></div>
        </div>
        <div ng-if="!source.diff">
            <p>No diff available for this source.</p>
        </div>
    </section>
</section>
