<section class="section">
    <div class="section-header">
        <form class="pull-right form-inline" ng-submit="searchTests()">
            <input type="text"
                   ng-model="searchParams.query"
                   placeholder="search"
                   class="form-control">
        </form>
        <h2>Test Cases</h2>
    </div>

    <div class="alert alert-block alert-warning" ng-if="searchParams.min_duration">
        <span class="alert-icon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
        Showing tests that took longer than <span duration="searchParams.min_duration"></span> to run [<a ng-click="searchTests({min_duration: 0})">clear</a>]
    </div>

    <table class="grid-list">
        <thead>
            <tr class="grid-list-header">
                <th>
                    <a ui-sref="project_test_search({sort: 'name'})">Test</a>
                </th>
                <th class="column">
                    <a ui-sref="project_test_search({sort: 'duration'})">Duration</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="testCase in testList">
                <td>
                    <a ui-sref="project_test_details({test_id: testCase.hash})">{{testCase.shortName}}</a><br>
                    <small ng-if="testCase.package">{{testCase.package}}</small>
                </td>
                <td class="column" duration="testCase.duration"></td>
            </tr>
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous" ng-class="previousPage === null ? 'disabled' : ''">
            <a ng-click="loadPreviousPage()">&larr; Previous</a>
        </li>
        <li class="next" ng-class="nextPage === null ? 'disabled' : ''">
            <a ng-click="loadNextPage()">Next &rarr;</a>
        </li>
    </ul>
</section>
