<section>
	<div id="overview">
		<div class="page-header">
			<h2>Settings for {{project.name}}</h2>
		</div>

		<form name="projectSettingsForm">
			<fieldset>

				<legend>VCS</legend>

				<dl class="flat">
					<dt>URL:</dt>
					<dd>{{ repo.url }}</dd>
					<dt>Backend:</dt>
					<dd>{{ repo.backend.name }}</dd>
				</dl>

			</fieldset>

			<fieldset>

				<legend>Mail</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['mail.notify-author']">
						Notify authors of build failures.
					</label>
				</div>

				<div class="form-group">
					<label>Addresses to notify of any build failure</label>
					<input type="text" class="form-control" ng-model="options['mail.notify-addresses']">
				</div>

				<div class="form-group">
					<label>Addresses to notify of failures from commits (not patches)</label>
					<input type="text" class="form-control" ng-model="options['mail.notify-addresses-revisions']">
				</div>

			</fieldset>


			<fieldset>

				<legend>HipChat</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['hipchat.notify']">
						Notify of notable builds.
					</label>
				</div>

				<div class="form-group">
					<label>Room ID</label>
					<input type="text" class="form-control" ng-model="options['hipchat.room']">
				</div>

			</fieldset>

			<fiedlset>

				<legend>Green Build</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['green-build.notify']">
						Notify of passing builds.
					</label>
				</div>

				<div class="form-group">
					<label>Project name</label>
					<input type="text" class="form-control" ng-model="options['green-build.project']">
				</div>

			</fieldset>

			<fieldset>

				<legend>Builds</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['build.commit-trigger']">
						Automatically create builds for new commits.
					</label>
				</div>

				<div class="form-group">
					<label>Branches</label>
					<input type="text" class="form-control" ng-model="options['build.branch-names']">
					<div class="help-block">Limit commit triggered builds from the following branches</div>
				</div>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['build.allow-patches']">
						Allow builds to be created from patches.
					</label>
				</div>

			</fieldset>

			<fieldset>

				<legend>Tests</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['ui.show-tests']">
						Show test data in various UIs.
					</label>
				</div>

				<div class="form-group">
					<label>Maximum Duration (per test)</label>
					<input type="text" class="form-control" ng-model="options['build.test-duration-warning']">
					<div class="help-block">Tests exceeding this duration (in ms) will show up as warnings.</div>
				</div>

			</fieldset>

			<fieldset>

				<legend>Code Coverage</legend>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" value="1" ng-model="options['ui.show-coverage']">
						Show coverage data in various UIs.
					</label>
				</div>

			</fieldset>

			<fieldset>

				<legend>Build Plans</legend>

				<ul>
					<li ng-repeat="plan in plans">
						<h4><a ui-sref="plan_details({plan_id: plan.id})">{{ plan.name }}</a></h4>
						<ol>
							<li ng-repeat="step in plan.steps">{{step.name}}</li>
						</ol>
					</li>
				</ul>

			</fieldset>

			<div class="fixed-form-submit" ng-show="projectSettingsForm.$dirty">
				<div class="container">
					<p>Your changes have not yet been saved.</p>
					<button ng-click="saveProjectSettings()" class="btn btn-sm btn-primary">Save Changes</button>
				</div>
			</div>
		</fiedlset>
	</div>
</section>
