<section ui-view>
    <div class="page-header">
        <h2>Source Details</h2>
    </div>

    <dl class="flat">
        <dt>Sha:</dt>
        <dd>{{source.revision.id}}</dd>
        <dt>Patch:</dt>
        <dd ng-if="source.patch"><a href="/api/0/patches/{{source.patch.id}}/?raw=1" target="_self">{{source.patch.id}}</a></dd>
        <dd ng-if="!source.patch">&mdash;</dd>
    </dl>

    <section class="section">
        <div class="section-header">
            <h4>Builds</h4>
        </div>

        <ul class="build-list">
            <li class="build-list-header">
                Build
                <div class="date">When</div>
                <div class="tests">Tests</div>
                <div class="coverage">Coverage</div>
                <div class="duration">Duration</div>
            </li>
            <li ng-repeat="build in builds"
                class="status-{{build.status.id}} result-{{build.result.id}}"
                slyEvaluateOnlyWhen="build.dateModified">
                <buildrow ng-model="build" show-project="true" show-branches="false"></buildrow>
            </li>
        </ul>
    </section>

    <section class="section">
        <div class="section-header">
            <h4>Diff</h4>
        </div>
        <div ng-if="source.diff">
            <div hljs source="source.diff" language="diff"></div>
        </div>
        <div ng-if="!source.diff">
            <p>No diff available for this source.</p>
        </div>
    </section>
</section>
