<section>
	<div id="overview">
		<div class="page-header">
			<h2>Test Cases</h2>
		</div>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th style="width:100px;text-align:center">Duration <span class="help" title="duration from last build">?</span></th>
					<th style="width:150px;text-align:center">First Seen</th>
					<th style="width:150px;text-align:center">Last Seen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="test in tests">
					<td><a href="{{ test.link }}">{{ test.name }}</a></td>
					<td style="text-align:center"><span duration="test.lastTest.duration"></span></td>
					<td style="text-align:center"><a href="{{ test.firstBuild.link }}">{{ test.firstBuild.target }}</a></td>
					<td style="text-align:center"><a href="{{ test.lastBuild.link }}">{{ test.lastBuild.target }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
