<section bind-once>
	<div id="overview">
		<div class="page-header">
			<h2>{{test.shortName}}<br><small>{{test.package}}</small></h2>
		</div>
	</div>

	<barchart ng-model="chartData" style="height:130px"></barchart>

	<dl class="flat">
		<dt>First Seen:</dt>
		<dd>
			<a ui-sref="build_details({build_id: test.firstBuild.id})">#{{test.firstBuild.number}} &mdash; {{test.firstBuild.target}}</a><br>
			<span ng-if="test.firstBuild.author">{{test.firstBuild.author.name}} &mdash; </span><span time-since="test.firstBuild.dateCreated"></span>
		</dd>
<!-- 		<dt>Last Seen:</dt>
		<dd>
			<a href="{{test.lastBuild.link}}">{{test.lastBuild.target}}</a><br>
			<span ng-if="test.lastBuild.author">{{test.lastBuild.author.name}} &mdash; </span><span time-since="test.lastBuild.dateCreated"></span>
		</dd> -->
		<dt>Duration: <span class="help" title="duration from last build">?</span></dt>
		<dd duration="test.duration"></dd>
	</dl>

	<hr>
	<h3>History</h3>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="date">Test status</th>
				<th class="date">Author</th>
				<th class="date">Time</th>
				<th class="duration">Duration</th>
				<th class="duration">Num retries</th>
				<th class="duration">Build</th>
			</tr>
		</thead>
		<tr ng-repeat="result in results">
			<td class="result-{{result.result.id}}">
				<div class="indicator">
					{{result.result.id}}
				</div>
			<td>
				{{ result.job.build.author.email }}
			</td>
			<td class="date" time-since="result.job.build.dateCreated"></td>
			<td duration="result.duration">
			</td>
			<td>
				{{ result.numRetries}}
			</td>
			<td>
				<a ui-sref="build_details({project_id: result.job.build.project.slug, build_id: result.job.build.id})" class="indicator" bind-once>#{{result.job.build.number}}</a>
			</td>
		</tr>
	</table>
</section>
