<section ui-view>
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_builds()">All Builds</a>
            <a class="btn btn-sm btn-default" ui-sref="project_new_build()">Create Build</a>
        </div>
        <h2>Commit Log</h2>
    </div>

    <div ng-if="chartData">
        <ul class="nav nav-links nav-links-sm">
            <li class="nav-header"><h6>Graph by:</h6></li>
            <li ng-class="selectedChart == 'duration' ? 'active' : ''">
                <a ng-click="selectChart('duration')">Build Duration</a>
            </li>
            <li ng-class="selectedChart == 'test_count' ? 'active' : ''">
                <a ng-click="selectChart('test_count')">Test Count</a>
            </li>
            <li ng-class="selectedChart == 'test_rerun_count' ? 'active' : ''">
                <a ng-click="selectChart('test_rerun_count')">Test Retries</a>
            </li>
            <li ng-class="selectedChart == 'tests_missing' ? 'active' : ''">
                <a ng-click="selectChart('tests_missing')">Missing Tests</a>
            </li>
        </ul>

        <barchart ng-model="chartData" style="height:130px;margin-bottom:20px;" class="hidden-xs"></barchart>
    </div>

    <ul class="build-list">
        <li class="build-list-header">
            Build
            <div class="date">Date</div>
            <div class="tests">Tests</div>
            <div class="duration">Duration</div>
        </li>
        <li ng-repeat="commit in commits"
            class="status-{{commit.build.status.id}} result-{{commit.build.result.id}}"
            slyEvaluateOnlyWhen="commit.build.dateModified">
            <div ng-if="commit.build">
                <a ui-sref="build_details({build_id: commit.build.id})" class="indicator">#{{commit.build.number}}</a>
                <h5><a ui-sref="build_details({build_id: commit.build.id})">{{commit.subject}}</a></h5>
                <div class="info">
                    <span class="branch" ng-repeat="branch in commit.branches">{{branch}}</span>
                    <a ui-sref="project_commit_details({commit_id: commit.id})">{{commit.id.substr(0, 12)}}</a>
                    <span ng-if="commit.author">&mdash; {{commit.author.name}}</span>
                </div>
                <div class="date" time-since="commit.build.dateCreated"></div>
                <div class="tests">
                    {{commit.build.stats.test_count}}
                </div>
                <div class="duration">
                    <span ng-if="commit.build.duration && commit.build.dateFinished" duration="commit.build.duration"></span>
                    <span ng-if="!commit.build.dateFinished"
                          type="{{commit.build.result.id}}"
                          value="commit.build|buildEstimatedProgress"
                          progressbar>&nbsp;</span>
                </div>
            </div>
            <div ng-if="!commit.build">
                <h5>{{commit.subject}}</h5>
                <div class="info" bind-once>
                    <span class="branch" ng-repeat="branch in commit.branches">{{branch}}</span>
                    <a ui-sref="project_commit_details({commit_id: commit.id})">{{commit.id.substr(0, 12)}}</a>
                    <span ng-if="commit.author">&mdash; {{commit.author.name}}</span>
                </div>
                <div class="date"></div>
            </div>
        </li>
    </ul>

</section>
