<section>
	<div class="page-header">
		<h2>{{commit.id}}</h2>
	</div>
	<div class="row">
		<div class="col-lg-9 col-md-8">
			<dl class="flat">
				<dt ng-if="commit.author">Author:</dt>
				<dd ng-if="commit.author">{{commit.author.name}} <span ng-if="commit.author.email">(<a href="mailto:{{commit.author.email}}">{{commit.author.email}}</a>)</span></dd>
				<dt>Repository:</dt>
				<dd>{{repository.url}}</dd>
				<dt>Date:</dt>
				<dd time-since="commit.dateCreated"></dd>
			</dl>
		</div>
		<div class="col-lg-3 col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul class="nav nav-small">
						<li><a href="javascript:void(0)" ng-click="createBuild()">Build this Commit</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<h2>Builds</h2>
	<table class="build-list table table-striped">
		<tbody>
			<tr class="status-{{build.status.id}} result-{{build.result.id}}"
				ng-repeat="build in builds">
				<td>
					<div class="indicator" title="{{build.result.name}}">
						<div data-result="{{build.result.id}}"
							 data-status="{{build.status.id}}"
							 data-date-started="{{build.dateStarted}}"
							 data-estimated-duration="{{build.estimatedDuration}}"
							 radial-progress-bar>&nbsp;</div>
					</div>
				</td>
				<td>
					<a href="{{build.link}}">{{build.name}}</a>
					<small>
						<a href="{{build.project.link}}">{{build.project.name}}</a> &mdash; <a href="/projects/{{build.project.slug}}/sources/{{build.source.id}}/">{{build.target}}</a>
						<span ng-if="build.author">&mdash; {{build.author.name}}</span>
					</small>
					<span class="status">{{getBuildStatus(build)}}</span>
					<span class="date" ng-if="build.dateStarted" time-since="build.dateStarted"></span>
				</td>
			</tr>
		</tbody>
	</table>
</section>
