<div class="page-header">
	<h2 class="pull-left">Tests</h2>
	<div class="btn-group" class="pull-left" style="margin-left: 20px;">
		<a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_tests()">Overview</a>
	    <a class="btn btn-sm btn-default" ui-sref-active="active" ui-sref="project_test_search()">All Tests</a>
	</div>
</div>

<ul class="nav nav-links nav-links-sm">
	<li class="nav-header"><h6>Graph by:</h6></li>
	<li ng-class="selectedChart == 'test_count' ? 'active' : ''">
		<a ng-click="selectChart('test_count')">Count</a>
	</li>
	<li ng-class="selectedChart == 'test_duration' ? 'active' : ''">
		<a ng-click="selectChart('test_duration')">Duration</a>
	</li>
	<li ng-class="selectedChart == 'test_rerun_count' ? 'active' : ''">
		<a ng-click="selectChart('test_rerun_count')">Retries</a>
	</li>
	<li ng-class="selectedChart == 'tests_missing' ? 'active' : ''">
		<a ng-click="selectChart('tests_missing')">Missing</a>
	</li>
</ul>

<d3barchart data="chartData" height="130" style="margin-bottom:20px;" class="hidden-xs"></d3barchart>

<div class="alert alert-block alert-warning" ng-if="overThreshold.count > 0">
	<span class="alert-icon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
	<a ui-sref="project_test_search({min_duration: overThreshold.duration})">{{overThreshold.count}} tests</a> are exceeding the duration threshold of <span duration="overThreshold.duration"></span>
</div>

<ul class="breadcrumb" ng-if="trail">
	<li ng-repeat="piece in trail"><a ui-sref="project_tests({parent: piece.path})">{{piece.name}}</a></li>
</ul>

<section>
	<table class="grid-list">
		<thead>
			<tr class="grid-list-header">
				<th>&nbsp;</th>
				<th class="column">Tests</th>
				<th class="column">Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="test in testGroupList track by test.name">
				<td>
					<a ui-sref="project_tests({parent: test.path})" ng-if="test.numTests > 1">{{test.name}}</a>
					<span ng-if="test.numTests == 1">{{test.name}}</span>
				</td>
				<td class="column">{{test.numTests}}</td>
				<td class="column" duration="test.totalDuration"></td>
			</tr>
		</tbody>
	</table>
</section>
