<section ui-view>
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ui-sref="project_new_build()">Create Build</a>
        </div>
        <h2>Builds</h2>
    </div>

    <div ng-if="chartData">
        <ul class="nav nav-links nav-links-sm">
            <li class="nav-header"><h6>Graph by:</h6></li>
            <li ng-class="selectedChart == 'duration' ? 'active' : ''">
                <a ng-click="selectChart('duration')">Build Duration</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'test_count' ? 'active' : ''">
                <a ng-click="selectChart('test_count')">Test Count</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'test_rerun_count' ? 'active' : ''">
                <a ng-click="selectChart('test_rerun_count')">Test Retries</a>
            </li>
            <li ng-if="features.tests" ng-class="selectedChart == 'tests_missing' ? 'active' : ''">
                <a ng-click="selectChart('tests_missing')">Missing Tests</a>
            </li>
        </ul>

        <barchart data="chartData.data" options="chartData.options"
                  style="height:130px;margin-bottom:20px;" class="hidden-xs"></barchart>
    </div>

    <div ng-if="builds.length">
        <table class="build-list">
            <thead>
                <tr class="build-list-header">
                    <th>Build</th>
                    <th class="duration">Duration</th>
                    <th class="coverage" ng-if="features.coverage">Coverage</th>
                    <th class="tests" ng-if="features.tests">Tests</th>
                    <th class="date">When</th>
                </tr>
            </thead>
            <tbody ng-repeat-start="build in builds">
                <tr buildrow="build" features="features"></tr>
            </tbody>
            <tbody ng-repeat-end></tbody>
        </table>

        <ul class="pager">
            <li class="previous" ng-class="nextPage === null ? 'disabled' : ''">
                <a ng-click="loadNextPage()">&larr; Older</a>
            </li>
            <li class="next" ng-class="previousPage === null ? 'disabled' : ''">
                <a ng-click="loadPreviousPage()">Newer &rarr;</a>
            </li>
        </ul>
    </div>
    <div ng-if="!builds.length">
        <p>There are no builds to show here.</p>
    </div>
</section>
