<section ui-view>
	<div id="overview">
		<div class="page-header">
			<h2>Step Details</h2>
		</div>

		<dl class="flat">
			<dt>Plan:</dt>
			<dd><a ui-sref="plan_details({plan_id: plan.id})">{{plan.name}}</a></dd>
			<dt>Name:</dt>
			<dd>{{step.name}}</dd>
			<dt>Type:</dt>
			<dd>{{step.implementation}}</dd>
			<dt>Created:</dt>
			<dd time-since="step.dateCreated"></dd>
		</dl>

		<section class="section">
			<div class="section-header">
				<h3>Data</h3>
			</div>
			<pre>{{step.data}}</pre>
		</section>
	</div>
</section>
