<section class="section" bind-once>
	<div class="page-header">
		<h2>Task Details <small>{{task.name}} ({{task.objectID}})</small></h2>
	</div>

    <script type="text/ng-template" id="task-details--node.html">
        {{task.name}} ({{task.objectID}})<br>
        <small>
            Created <span time-since="task.dateCreated"></span>
            <span ng-if="task.dateFinished"> and finished <span time-since="task.dateFinished"></span></span>
        </small>
        <ul>
            <li ng-repeat="task in task.children"
                ng-include="'task-details--node.html'"
                class="result-{{task.result.id}}"></li>
        </ul>
    </script>

    <section ng-include="'task-details--node.html'"></section>
</section>
