<section>
	<div class="page-header">
		<h2 style="font-size: 1.4em;">{{test.name}}<br><small>{{test.package}}</small></h2>
	</div>

	<dl class="flat">
		<dt>Project:</dt>
		<dd><a href="#">{{build.project.name}}</a></dd>
		<dt>Build:</dt>
		<dd><a href="{{build.link}}">{{build.name}}</a></dd>
		<dt>Result:</dt>
		<dd>{{test.result.name}}</dd>
		<dt>Duration:</dt>
		<dd duration="test.duration"></dd>
	</dl>

	<pre ng-if="test.message" class="build-message">{{test.message}}</pre>

	<div id="previous-runs" ng-if="previousRuns">
		<h3>Previous Results</h3>

		<table class="build-list table table-striped">
			<tbody>
				<tr class="result-{{previousTest.result.id}}"
					ng-repeat="previousTest in previousRuns">
					<td>
						<div class="indicator" title="{{previousTest.result.name}}">
							<div>&nbsp;</div>
						</div>
					</td>
					<td>
						<a href="{{previousTest.link}}">{{previousTest.build.name}}</a><br>
						<small>
							{{previousTest.build.parent_revision.sha.substr(0, 12)}}
							<span ng-if="previousTest.build.author">&mdash; {{previousTest.build.author.name}}</span>
						</small>
						<span class="status">{{previousTest.result.name}}</span>
						<span class="date" time-since="previousTest.dateCreated"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
