<div class="page-header">
	<h2>
		System Statistics<br>
		<small>Builds created within the last 24 hours</small>
	</h2>
</div>

<div class="loading" ng-if="loading">
	<div class="spinner-icon spinner-large"></div>
</div>

<div ng-if="!loading">
	<section class="section">
		<div class="section-header">
			<h3>Active Builds</h3>
		</div>
		<table class="grid-list">
			<thead>
				<tr class="grid-list-header">
					<th></th>
					<th class="column">Job Steps</th>
					<th class="column">Jobs</th>
					<th class="column">Builds</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="status in statusCounts">
					<th>{{status.name}}</th>
					<td class="column">{{status.numJobSteps}}</td>
					<td class="column">{{status.numJobs}}</td>
					<td class="column">{{status.numBuilds}}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="section">
		<div class="section-header">
			<h3>Build Results</h3>
		</div>
		<table class="grid-list">
			<thead>
				<tr class="grid-list-header">
					<th></th>
					<th class="column">Job Steps</th>
					<th class="column">Jobs</th>
					<th class="column">Builds</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="result in resultCounts">
					<th>{{result.name}}</th>
					<td class="column">{{result.numJobSteps}}</td>
					<td class="column">{{result.numJobs}}</td>
					<td class="column">{{result.numBuilds}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
