<div id="overview">
  <div class="page-header">
    <h2>Message Details</h2>
  </div>

  <form name="messageDetailsForm" ng-submit="saveForm()">
    <div class="form-group">
      <label>Display HTML</label>
      <input type="text" class="form-control" ng-model="formData.message"
             placeholder="Leave empty to delete any existing system message">
    </div>

    <div class="form-submit">
      <p ng-show="messageDetailsForm.$dirty">
          Your changes have not yet been saved.</p>
      <button type="submit" class="btn btn-sm btn-primary"
              ng-disabled="messageDetailsForm.$pristine || messageDetailsForm.$invalid">Save Changes</button>
    </div>

  </form>
</div>
