<div class="section-header">
  <h2>Messages</h2>
</div>

<section ng-hide="!messageData || !messageData.message">
  <table class="grid-list">
    <thead>
      <tr class="grid-list-header">
        <th>Display HTML</th>
        <th class="column">Author</th>
        <th class="column">Created</th>
      </tr>
    </thead>
    <tbody><tr>
      <td><a ui-sref="admin_message_details({message_id: messageData.id})">
          {{messageData.message}}</a></td>
      <td><a ui-sref="admin_user_details({user_id: messageData.user.id})">
          {{messageData.user.email}}</a></td>
      <td class="column"><span time-since="messageData.dateCreated"></span></td>
    </tr></tbody>
  </table>
</section>

<section ng-show="!messageData || !messageData.message">
  <p>No active messages found. You can
      <a ui-sref="admin_message_details()">create one</a> now.</p>
</section>
