<div id="overview">
  <div class="section-header">
    <form class="pull-right form-inline" ng-submit="search()">
      <input type="text"
             ng-model="searchForm.query"
             placeholder="search"
             class="form-control">
      <button type="submit" class="btn btn-xs"><i class="glyphicon glyphicon-search"></i></button>
    </form>
    <div class="btn-group btn-group-xs pull-right" style="margin-right: 10px; margin-top: 2px">
      <a href="#" class="btn btn-default"
         ui-sref="admin_plan_list({status: 'active'})"
         ui-sref-active="active">Active</a>
      <a href="#" class="btn btn-default"
         ui-sref="admin_plan_list({status: ''})"
         ui-sref-active="active">All</a>
    </div>
    <h2>Build Plans</h2>
  </div>

  <table class="grid-list">
    <thead>
      <tr class="grid-list-header">
        <th><a ui-sref="admin_plan_list({sort: 'name'})">Plan</a></th>
        <th class="column">Status</th>
        <th class="column"><a ui-sref="admin_plan_list({sort: 'date'})">Created</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="plan in planList">
        <td><a ui-sref="admin_plan_details({plan_id: plan.id})">{{plan.name}}</a></td>
        <td class="column">{{plan.status.name}}</td>
        <td class="column" time-since="plan.dateCreated"></td>
      </tr>
    </tbody>
  </table>

  <ul class="pager">
    <li class="previous" ng-class="planPaginator.previousPage === null ? 'disabled' : ''">
      <a ng-click="planPaginator.loadPreviousPage()">&larr; Previous</a>
    </li>
    <li class="next" ng-class="planPaginator.nextPage === null ? 'disabled' : ''">
      <a ng-click="planPaginator.loadNextPage()">Next &rarr;</a>
    </li>
  </ul>
</div>
