<div class="page-header">
	<div class="pull-right">
		<a ui-sref="project_commits({project_id: project.slug})" class="btn btn-default">View Builds &rarr;</a>
	</div>
	<h2>{{project.name}}</h2>
</div>

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
	<li ui-sref-active="active"><a ui-sref="admin_project_settings()">Settings</a></li>
	<li ui-sref-active="active"><a ui-sref="admin_project_snapshot_list()">Snapshots</a></li>
	<li ui-sref-active="active"><a ui-sref="admin_project_plan_list()">Build Plans</a></li>
</ul>

<section ui-view></section>
