<section>
	<div id="overview">
		<div class="page-header">
			<h2>Create Project</h2>
		</div>

		<form name="createProjectForm" ng-submit="createProject()">
			<div class="form-group">
				<label>Name:</label>
				<input type="text" class="form-control" ng-model="project.name">
			</div>

			<div class="form-group">
				<label>Repository URL:</label>
				<input type="text" class="form-control" ng-model="project.repository">
			</div>

			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</section>
