<form name="projectSettingsForm" ng-submit="saveProjectSettings()">
	<fieldset>

		<legend>Basics</legend>

		<div class="form-group">
			<label>Name:</label>
			<input type="text" class="form-control" ng-model="formData.name" required>
		</div>

		<div class="form-group">
			<label>Slug:</label>
			<input type="text" class="form-control" ng-model="formData.slug" required>
		</div>

		<div class="form-group">
			<label>Repository:</label>
			<input type="text" class="form-control" ng-model="formData.repository"
				   datasets="repoTypeaheadData" tw-typeahead
				   required>
		</div>

		<div class="form-group">
		  <label>Status</label>
		  <select class="form-control" ng-model="formData.status"
				  required>
			<option value="active">Active</option>
			<option value="inactive">Inactive</option>
		  </select>
		</div>

		<div class="form-group">
			<label>Owner:</label>
			<input type="email" class="form-control" ng-model="options['project.owners']"
			       placeholder="my-project@example.com">
			<div class="help-block">An email address for whom should be contacted in case of questions about this project.</div>
		</div>

		<div class="form-group">
			<label>Notes:</label>
			<textarea class="form-control" ng-model="options['project.notes']"></textarea>
			<div class="help-block">A blurb of text to give additional context around this project. This will be shown in various places, such as in email notifications.</div>
		</div>

	</fieldset>

	<fieldset>

		<legend>Builds</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['build.commit-trigger']">
				Automatically create builds for new commits.
			</label>
		</div>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['phabricator.diff-trigger']">
				Automatically create builds for Phabricator diffs.
			</label>
		</div>

		<div class="form-group">
			<label>File Whitelist</label>
			<textarea class="form-control" ng-model="options['build.file-whitelist']"
					  placeholder="i.e. src/project/*"></textarea>
			<div class="help-block">Only trigger builds when a file matches one of these patterns. Separate patterns with newlines. Use '*' for wildcards.</div>
		</div>

		<div class="form-group">
			<label>Branches</label>
			<input type="text" class="form-control" ng-model="options['build.branch-names']">
			<div class="help-block">Limit commit triggered builds to these branches. Separate branch names with spaces. Use '*' for wildcards.</div>
		</div>

	</fieldset>


	<fieldset>

		<legend>Mail</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['mail.notify-author']">
				Notify authors of build failures.
			</label>
		</div>

		<div class="form-group">
			<label>Addresses to notify of any build failure</label>
			<input type="text" class="form-control" ng-model="options['mail.notify-addresses']">
		</div>

		<div class="form-group">
			<label>Addresses to notify of failures from commits (not patches)</label>
			<input type="text" class="form-control" ng-model="options['mail.notify-addresses-revisions']">
		</div>

	</fieldset>


	<fieldset>

		<legend>Phabricator</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['phabricator.notify']">
				Push build results to Phabricator (diffs).
			</label>
		</div>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="0" ng-model="options['phabricator.coverage']">
				Push coverage results to Phabricator (diffs).
			</label>
		</div>

	</fieldset>


	<fiedlset>

		<legend>Green Build</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['green-build.notify']">
				Notify of passing builds.
			</label>
		</div>

		<div class="form-group">
			<label>Project name</label>
			<input type="text" class="form-control" ng-model="options['green-build.project']"
				   placeholder="e.g. {{project.slug}}">
		</div>

	</fieldset>

	<fieldset>

		<legend>Tests</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['ui.show-tests']">
				Show test data in various UIs.
			</label>
		</div>

		<div class="form-group">
			<label>Maximum Duration (per test)</label>
			<input type="text" class="form-control" ng-model="options['build.test-duration-warning']">
			<div class="help-block">Tests exceeding this duration (in ms) will show up as warnings.</div>
		</div>

	</fieldset>

	<fieldset>

		<legend>Code Coverage</legend>

		<div class="form-group checkbox">
			<label>
				<input type="checkbox" value="1" ng-model="options['ui.show-coverage']">
				Show coverage data in various UIs.
			</label>
		</div>

	</fieldset>

	<div class="fixed-form-submit" ng-show="projectSettingsForm.$dirty">
		<div class="container">
			<p>Your changes have not yet been saved.</p>
			<button type="submit" class="btn btn-sm btn-primary"
					ng-disabled="projectSettingsForm.$invalid">Save Changes</button>
		</div>
	</div>
	</fiedlset>
</form>
