<div class="page-header">
  <h2>New Project</h2>
</div>
<form name="projetCreateForm" ng-submit="createProject()">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" ng-model="project.name"
         required>
  </div>

  <div class="form-group">
    <label>Repository:</label>
    <input type="text" class="form-control" ng-model="project.repository"
         datasets="repoTypeaheadData" tw-typeahead
         required>
  </div>


  <div class="form-submit">
    <button type="submit" class="btn btn-sm btn-primary"
            ng-disabled="projetCreateForm.$pristine || projetCreateForm.$invalid">Save Changes</button>
  </div>
</form>
