<section ng-hide="planList.length == 0" class="section">
  <table class="grid-list">
    <thead>
      <tr class="grid-list-header">
        <th>Plan</th>
        <th class="column">Status</th>
        <th class="column">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="plan in planList">
        <td><a ui-sref="admin_project_plan_details({plan_id: plan.id})">{{plan.name}}</a></td>
        <td class="column">{{plan.status.name}}</td>
        <td class="column"><span time-since="plan.dateCreated"></span></td>
      </tr>
    </tbody>
  </table>
</section>

<section ng-show="planList.length == 0" class="section">
  <p>No plans have been setup for this project.</p>
  <hr>
</section>

<section class="section">
  <a ui-sref="admin_project_plan_create()" class="btn btn-primary">New Plan</a>
</section>
