<div class="page-header">
  <h2>{{repository.url}}</h2>
</div>

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li ui-sref-active="active"><a ui-sref="admin_repository_details()">Settings</a></li>
  <li ui-sref-active="active"><a ui-sref="admin_repository_project_list()">Projects</a></li>
</ul>

<div ng-if="repository.status.id == 'importing'"
     class="alert alert-block alert-info">This repository is inactive while it imports a minimum amount of history.</div>

<section ui-view>
  <form name="repositoryDetailsForm" ng-submit="saveForm()">
    <fieldset>

      <legend>Basics</legend>

      <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" ng-model="formData.url"
               placeholder="i.e. git@github.com:dropbox/changes.git"
               required>
      </div>

      <div class="form-group">
        <label>Status</label>
        <select class="form-control" ng-model="formData.status"
                required>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

      <div class="form-group">
        <label>Backend</label>
        <select class="form-control" ng-model="formData.backend"
                required>
          <option value="unknown">Unknown</option>
          <option value="git">Git</option>
          <option value="hg">Mercurial</option>
        </select>
      </div>
    </fieldset>

    <fieldset>

      <legend>Phabricator</legend>

      <div class="form-group">
        <label>Callsign</label>
        <input type="text" class="form-control" ng-model="formData['phabricator.callsign']"
               placeholder="i.e. MYREPO">
      </div>

    </fieldset>

    <div class="form-submit clearfix">
      <p ng-show="repositoryDetailsForm.$dirty">Your changes have not yet been saved.</p>
      <button type="submit" class="btn btn-sm btn-primary"
              ng-disabled="repositoryDetailsForm.$pristine || repositoryDetailsForm.$invalid">Save Changes</button>
    </div>

  </form>
</section>
