<section ng-hide="projectList.length == 0">
  <table class="grid-list">
    <thead>
      <tr class="grid-list-header">
        <th>Project</th>
        <th class="column">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projectList">
        <td><a ui-sref="admin_project_details({project_id: project.id})">{{project.name}}</a></td>
        <td class="column">{{project.status.name}}</td>
      </tr>
    </tbody>
  </table>

  <ul class="pager">
    <li class="previous" ng-class="projectPaginator.previousPage === null ? 'disabled' : ''">
      <a ng-click="projectPaginator.loadPreviousPage()">&larr; Previous</a>
    </li>
    <li class="next" ng-class="projectPaginator.nextPage === null ? 'disabled' : ''">
      <a ng-click="projectPaginator.loadNextPage()">Next &rarr;</a>
    </li>
  </ul>

</section>

<section ng-show="projectList.length == 0">
  <p>
    There are no projects assiged to this repository.
  </p>
</section>
