<div id="overview">
  <div class="page-header">
    <h2>New Repository</h2>
  </div>

  <form name="repositoryCreateForm" ng-submit="saveForm()">
    <div class="form-group">
      <label>URL</label>
      <input type="text" class="form-control" ng-model="formData.url"
             placeholder="i.e. git@github.com:dropbox/changes.git"
             required>
    </div>

    <div class="form-group">
      <label>Backend</label>
      <select class="form-control" ng-model="formData.backend"
              required>
        <option value="unknown">Unknown</option>
        <option value="git">Git</option>
        <option value="hg">Mercurial</option>
      </select>
    </div>

    <div class="form-submit">
      <button type="submit" class="btn btn-sm btn-primary"
              ng-disabled="repositoryCreateForm.$pristine || repositoryCreateForm.$invalid">Save Changes</button>
    </div>

  </form>
</div>
