<div class="section-header">
  <form class="pull-right form-inline" ng-submit="search()">
    <input type="text"
           ng-model="searchForm.query"
           placeholder="search"
           class="form-control">
    <button type="submit" class="btn btn-xs"><i class="glyphicon glyphicon-search"></i></button>
  </form>
  <h2>Users</h2>
</div>

<table class="grid-list">
  <thead>
    <tr class="grid-list-header">
      <th><a ui-sref="admin_user_list({sort: 'email'})">Email</a></th>
      <th class="column">Admin?</th>
      <th class="column"><a ui-sref="admin_user_list({sort: 'date'})">Created</a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in userList">
      <td><a ui-sref="admin_user_details({user_id: user.id})">{{user.email}}</a></td>
      <td class="column">{{user.isAdmin}}</td>
      <td class="column"><span time-since="user.dateCreated"></span></td>
    </tr>
  </tbody>
</table>

<ul class="pager">
  <li class="previous" ng-class="userPaginator.previousPage === null ? 'disabled' : ''">
    <a ng-click="userPaginator.loadPreviousPage()">&larr; Previous</a>
  </li>
  <li class="next" ng-class="userPaginator.nextPage === null ? 'disabled' : ''">
    <a ng-click="userPaginator.loadNextPage()">Next &rarr;</a>
  </li>
</ul>
