.arcconfig
.arc_lib
.coverage
.DS_Store
.idea
*.iml
*.db
*.egg-info
*.pyc
*.swp
*.swo
npm-debug.log
/env
/*.xml
/docs/_build/
/htmlcov
/node_modules
/dist
/static/vendor
/static/js/generated
/static-built
/webapp/custom/*
!/webapp/custom/README
/webapp/dist
/webapp/css/bundled.css
/webapp/css/bundled_with_custom.css
webapp/.webassets-cache
.vagrant
