.arcconfig
.arc_lib
.coverage
.DS_Store
.idea
*.iml
*.db
*.egg-info
*.pyc
npm-debug.log
/env
/*.xml
/docs/_build/
/htmlcov
/node_modules
/dist
/static/vendor
/static/js/generated
/static-built
.vagrant
