.arcconfig
.arc_lib
.coverage
.DS_Store
.idea
*.iml
*.db
*.egg-info
*.pyc
*.swp
*.swo
npm-debug.log
/env
/*.xml
/docs/_build/
/htmlcov
/dist
/node_modules/babel-eslint/*
/node_modules/eslint/*
/node_modules/eslint-plugin-react/*
/static/js/generated
/static-built
/webapp/custom/*
!/webapp/custom/README
/webapp/dist
/webapp/css/bundled.css
/webapp/css/bundled_with_custom.css
webapp/.webassets-cache
.vagrant
