/*
 * basics.css
 *
 * (1) this is where we set the font on <body />, override styles
 * on <a />, etc.
 *
 * (2) Contains the css for the page chrome (e.g for the page
 * header, spacing, etc.)
 */

body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0
}

/* default styles don't apply to anchors without hrefs, add them back in */
a {
  color: #1c3f95;
  text-decoration: underline;
  cursor: pointer;
}

a, a#visited {
  color: #1c3f95;
}

a.external {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 13px;

  /*
   * This is just the external link icon used in mediawiki with some color
   * replacements (update this if you make any further modifications):
   *  #06c -> #1c3f95
   *  #06f -> #224db6 (two tints lighter)
   *
   * To create the data uri:
   * > cat wiki_external_link.svg | python -c 'import sys,urllib;print urllib.quote(sys.stdin.read().strip(), "")' | pbcopy
   */

  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%0A%20%20%3Cg%20transform%3D%22translate%28-826.429%20-698.791%29%22%3E%0A%20%20%20%20%3Crect%20width%3D%225.982%22%20height%3D%225.982%22%20x%3D%22826.929%22%20y%3D%22702.309%22%20fill%3D%22%23fff%22%20stroke%3D%22%231c3f95%22%2F%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z%22%20fill%3D%22%23224db6%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z%22%20fill%3D%22%23fff%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E);
}

a.subtle {
  color: #333;
  text-decoration: none;
}

a.subtle:hover {
  text-decoration: underline;
}

/* Page header stuff */

.pageHeader {
  background-color: #ffd204;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}

.fixedPageHeader {
  position: fixed;
  z-index: 5;
}

.headerBlock, .headerLinkBlock {
  padding: 8px;
  display: inline-block;
  vertical-align: top;
  height: 16px;
}

.headerLinkBlock {
  text-decoration: none;
  color: #333;
}

.headerLinkBlock:hover, .inlinePerf:hover {
  background-color: #d0ab00;
}

.headerHighlight {
  font-weight: bold;
}


/* inline perf widget */

.inlinePerf {
  cursor: pointer;
  user-select: none;
}

.inlinePerfDropdown {
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  position: absolute;
  right: 0;
  padding: 10px;
  min-width: 150px;
  top: 32px;
  z-index: 10;
}

div.inlinePerfExpanded, div.inlinePerfExpanded:hover {
  background-color: white;
}
