/* 
 * display.css
 *
 * CSS for the tags in display/ (except page_chrome.) We 
 * also have a misc section at the end for classes that don't quite 
 * deserve their own tag (e.g. subtext)
 */

 /*
  * Grid. There are a couple of common cell classes at the end
  */

div.grid {
  border-collapse: collapse;
  border: 1px solid #1c3f95;
  display: table;
  width: 100%;
}

.gridRow {
  display: table-row;
}

.gridCell {
  display: table-cell;
  padding: 4px;
  padding-right: 10px;
}

.gridCell:last-child {
  padding-right: 2px;
}

.gridHeader .gridCell {
  background-color: #1c3f95;
  /*  border: 1px solid #fff; */
  color: #fff;
}

.gridEven .gridCell {
  background-color: #e7e7e8;
}

/* 
 * Grid: cell classes. You'll usually want to use wide for one of your columns
 */ 
.nowrap {
  white-space: nowrap;
}

.wide {
  width: 100%;
}

.center {
  text-align: center;
}

/*
 * Error Box
 */ 

.error {
  background-color: #c8190f; /* shade from http://www.colorhexa.com/ee2e24 */
  border: 1px solid #5a5758;
  color: #fff;
  display: block;
  padding: 5px;
}

.programmingError {
  background-color: #d30081; /* shade from http://www.colorhexa.com/98005d */
  border: 1px solid #5a5758;
  color: #fff;
  display: block;
  padding: 5px;
}

/*
 * Inline Loading
 */ 

.inlineLoading {
  background-color: #e7e7e8;
  border: 1px solid #737171;
  padding: 8px;
  vertical-align: middle;
}

/*
 * Section Header
 */

.sectionHeader {
  font-weight: bold;
  margin-bottom: 3px;
}

/*
 * Menus
 */

.menuItem {
  display: inline-block;
  padding: 0px 5px;
  border-left: 1px solid #333;
  margin: 5px 0;
  cursor: pointer;
}

.firstMenuItem {
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0;
}

.selectedMenuItem {
  font-weight: bold;
}

.menu2Item {
  color: #737171;
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.menu2Item:hover {
  color: #333;
}

.firstMenu2Item {
  margin-left: 0px;
  padding-left: 0px;
}

.selectedMenu2Item {
  border-bottom: 3px solid #009ddc;
  color: #009ddc;
}

.menu2Item.selectedMenu2Item:hover {
  color: #009ddc;
}

/*
 * Builds/Status Dot
 */

.dotContainer {
  position: relative;
}

.dotBase {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
  opacity: 1;
}

.dotBase.mediumDot {
  width: 20px;
  height: 20px;
}

.dotBase.bigDot {
  width: 35px;
  height: 35px;
}

.greenDot {
  background-color: #00853e;
}

.redDot {
  background-color: #ee2e24;
}

.grayDot {
  background-color: #5a5758;
  /*  background-color: #737171; */
}

.dotText {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-left: -8px;
  margin-top: 5px;
  position: absolute;
  text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

.statusNumBase {
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
  opacity: 1;
}

.buildWidget {
  color: #333;
  display: block;
  position: relative;
  text-decoration: none;
}

.gridCell.buildWidgetCell {
  padding: 0;
  padding-right: 6px;
}

.gridCell.buildWidgetCell .buildWidget {
  padding: 4px;
}

.buildWidget:hover {
  background-color: #d9d8d8;
}

/*
 * Misc
 */

.subText {
  font-size: x-small;
  color: #737171;
}

.bb {
  font-weight: 900;
}

.popoverNoMaxWidth {
  max-width: none;
}

.commitMsg {
  background-color: #d0ffd0;
  border: 1px solid #00853e;
  line-height: normal;
  margin-top: 5px;
  padding: 5px;
  white-space: pre-wrap;
}

.yellowPre {
  background-color: #fdf3da;
  border: 1px solid #c9b8a8;
  line-height: normal;
  margin-top: 5px;
  padding: 5px;
  white-space: pre-wrap;
}

/* invisible table lets you put things in tables without any markup/lines */

.invisibleTable {
  border-spacing: 0
}

.invisibleTable td {
  padding: 2px 8px 0 0;
}