/*
 * page_specific.css
 *
 * Some pages (in pages/) need their own CSS
 */

/* builds_results_page */

.buildsSidebar {
  position: fixed;
  top: 32px;
  left: 0;
  bottom: 0;
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
  border-right: 1px solid #bbb;
}

.buildsSideItem {
  color: #333;
  cursor: pointer;
  display: block;
  padding: 6px 0 6px 15px;
  text-decoration: none;
}

.buildsSideItem:hover {
  background-color: #d8d8d9;
}

.buildsSideSmallHeader {
  padding: 6px 0 6px 15px;
}

.buildsSideSectionHeader {
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 5px;
   padding-left: 10px;
}

.commitSideItem {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
}

.commitSideItem:hover {
  background-color: #d9d8d8;
}

.commitSideSection {
  margin-left: 5px;
  margin-bottom: 10px;
}

.grid.errorGrid {
  border-color: #ee2e24;
}

.errorGrid .gridHeader .gridCell {
  color: #ee2e24;
}

.errorGrid .gridRow.gridHeader  {
  border-color: #ee2e24;
}

.errorGrid .gridRow {
  border-color: #e5cfcf; /* some random color similar to lightGray */
}

/* TODO: move this to a component */
a.diffBuildsWidget {
  display: block;
  padding: 6px;
}

a.diffBuildsWidget:hover {
  background-color: #d9d8d8;
}
