/*
 * page_specific.less
 *
 * Some pages (in pages/) need their own CSS
 */

/* Page: builds
 *
 * TODO: some of this css is from before I used position fixed/absolute.
 * I should delete it
 */

.buildsLabelHeader {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 32px;
  background-color: white;
  font-size: 18px;
  z-index: 2;
  white-space: nowrap;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.buildsSidebar {
  border-top: 1px solid @fainterBorder;
  position: fixed;
  top: 100px;
  left: 20px;
  bottom: 0;
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 15px;
  vertical-align: top;
}

.buildsSideItem {
  color: #333;
  cursor: pointer;
  display: block;
  padding: 6px 0 6px 15px;
  text-decoration: none;
  border: 1px solid white;

  &:hover {
    background-color: @selectedBg;
    border-radius: 5px;
    border: 1px solid @selectedBorder;
  }
}

.buildsSideItem.selected {
  background-color: @selectedBg;
  border-radius: 5px;
  border: 1px solid @selectedBorder;
}

.sideItemDot {
  float: left;
  margin-left: -8px;
  margin-top: 4px;
  margin-right: 2px;
}

.buildsSideSectionHeader {
  font-size: 12px;
  color: @mediumGray;
  margin-bottom: 5px;
}

.phaseCell {
  min-width: 95px;
}

.buildsContent {
  margin-top: 100px;
  margin-left: 310px;
  padding: 20px;
  padding-top: 0;
}

.buildsInnerContent {
  border-top: 1px solid #edeeef;
  padding-top: 20px;
}

/* Page: log */

.logFile {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  margin-top: 30px;
}

.logFile .line {
  white-space: pre-wrap;
}

.logReturnLink {
  background-color: white;
  border: 1px solid rgba(61,70,77,0.1);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  padding: 5px 8px;
  position: fixed;
  right: 10px;
  top: 50px;
}

.logDebugLink {
  font-size: x-small;
  margin-top: 10px;
  position: absolute;
  right: 0;
}

/* Page: examples */

.exampleHeader {
  font-weight: 500;
  font-size: 18px;
  margin: 1em 0 0.5em 0;
}

.exampleList {
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 20px;
  padding-left: 0;
}

.exampleList li {
  background: transparent;
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 15px;
  margin: 0;
}

.exampleList li:last-child {
  border-bottom: none;
}

/* other */

.artifactImage {
  max-height: 200px;
  max-width: 200px;
}
