/*
 * page_specific.css
 *
 * Some pages (in pages/) need their own CSS
 */

/* builds_results_page */

.commitSideItem {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
}

.commitSideItem:hover {
  background-color: #d9d8d8;
}

.commitSideSection {
  margin-left: 5px;
  margin-bottom: 10px;
}

.grid.errorGrid {
  border-color: #ee2e24;
}

.errorGrid .gridHeader .gridCell {
  color: #ee2e24;
}

.errorGrid .gridRow.gridHeader  {
  border-color: #ee2e24;
}

.errorGrid .gridRow {
  border-color: #e5cfcf; /* some random color similar to lightGray */
}

/* TODO: move this to a component */
a.diffBuildsWidget {
  display: block;
  padding: 6px;
}

a.diffBuildsWidget:hover {
  background-color: #d9d8d8;
}
