body {
  color: #333;
/*font-family: Georgia, Times, 'Times New Roman', serif;*/
  font-family: sans-serif;
  font-size: 14px;
  margin: 0
}

.pageHeader {
  background-color: #ffd204;
  border-bottom: 1px solid #fff;
/*  position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}

a, a#visited {
  color: #1c3f95;
}

.headerBlock, .headerLinkBlock {
  padding: 8px;
  display: inline-block;
}

.headerLinkBlock {
  text-decoration: none;
  color: #333;
}

.inlinePerf {
  cursor: pointer;
  user-select: none;
}

.inlinePerfDropdown {
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  position: absolute;
  right: 0;
  padding: 10px;
  min-width: 150px;
  top: 32px;
}

.headerLinkBlock:hover, .inlinePerf:hover {
  background-color: #d0ab00;
}

div.inlinePerfExpanded, div.inlinePerfExpanded:hover {
  background-color: white;
}

.perfParams {
  font-size: x-small;
  color: #737171;
}

.leftrightCols {
  display: table;
  width: 100%;
}

.leftCol {
  display: table-cell;
  width: 50%;
}

.rightCol {
  display: table-cell;
  width: 50%;
}

/*
 * Menus
 */

.menuItem {
  display: inline-block;
  padding: 0px 5px;
  border-left: 1px solid #333;
  margin: 5px 0;
}

.firstMenuItem {
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0;
}

.selectedMenuItem {
  font-weight: bold;
}

.menu2Item {
  color: #737171;
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.menu2Item:hover {
  color: #333;
}

.firstMenu2Item {
  margin-left: 0px;
  padding-left: 0px;
}

.selectedMenu2Item {
  border-bottom: 3px solid #009ddc;
  color: #009ddc;
}

.menu2Item.selectedMenu2Item:hover {
  color: #009ddc;
}

.commitMsg {
  background-color: #d0ffd0;
  border: 1px solid #00853e;
  margin-top: 5px;
  padding: 2px;
  white-space: pre-wrap;
}

.grid.lightweight {
  border: none;
  margin-left: -2px;
  margin-top: 9px;
}

.grid.lightweight .gridHeader .gridCell {
  background-color: #fff;
  border: none;
  color: #5a5758;
  font-size: x-small;
  font-weight: bold;
  line-height: 0px;
  text-transform: uppercase;
}

/* markup for commit page */

.phaseRowHeader span {
  color: #5a5758;
  font-size: x-small;
  font-weight: bold;
  line-height: 0px;
  text-transform: uppercase;
}

.shardRow, .phaseRow {
  margin-left: 17px;
}

.shardNode, .phaseName {
  min-width: 400px;
  display: inline-block;
}

.shardDuration, .phaseDuration {
  min-width: 100px;
  display: inline-block;
}

.shardLinks, .phaseLogLinks {
  min-width: 50px;
  display: inline-block;
}

/*
 * SECTION: convenience
 */

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.nowrap {
  white-space: nowrap;
}

.wide {
  width: 100%;
}

.center {
  text-align: center;
}

.paddingTopS { padding-top: 5px; }
.paddingRightS { padding-right: 5px; }
.paddingBottomS { padding-bottom: 5px; }
.paddingLeftS { padding-left: 5px; }

.paddingTopM { padding-top: 10px; }
.paddingRightM { padding-right: 10px; }
.paddingBottomM { padding-bottom: 10px; }
.paddingLeftM { padding-left: 10px; }

.paddingTopL { padding-top: 20px; }
.paddingRightL { padding-right: 20px; }
.paddingBottomL { padding-bottom: 20px; }
.paddingLeftL { padding-left: 20px; }

.marginTopS { margin-top: 5px; }
.marginRightS { margin-right: 5px; }
.marginBottomS { margin-bottom: 5px; }
.marginLeftS { margin-left: 5px; }

.marginTopM { margin-top: 10px; }
.marginRightM { margin-right: 10px; }
.marginBottomM { margin-bottom: 10px; }
.marginLeftM { margin-left: 10px; }

.marginTopL { margin-top: 20px; }
.marginRightL { margin-right: 20px; }
.marginBottomL { margin-bottom: 20px; }
.marginLeftL { margin-left: 20px; }

.noLeftMargin { margin-left: 0px; }
.noRightMargin { margin-right: 0px; }
.noTopMargin { margin-top: 0px; }
.noBottomMargin { margin-bottom: 0px; }

/* SECTION: Components */

/*
 * Grid
 */

div.grid {
  border-collapse: collapse;
  border: 1px solid #1c3f95;
  display: table;
  width: 100%;
}

.gridRow {
  display: table-row;
}

.gridCell {
  display: table-cell;
  padding: 2px;
  padding-right: 10px;
}

.gridCell:last-child {
  padding-right: 2px;
}

.gridHeader .gridCell {
  background-color: #1c3f95;
  /*  border: 1px solid #fff; */
  color: #fff;
}

.gridEven .gridCell {
  background-color: #e7e7e8;
}

/*
 * Error Box
 */ 

.error {
  background-color: #c8190f; /* shade from http://www.colorhexa.com/ee2e24 */
  border: 1px solid #5a5758;
  color: #fff;
  display: block;
  padding: 5px;
}

/*
 * Inline Loading
 */ 

.inlineLoading {
  background-color: #e7e7e8;
  border: 1px solid #737171;
  padding: 8px;
  vertical-align: middle;
}

/*
 * Status Dot
 */

.dotContainer {
  position: relative;
}

.dotBase {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
  opacity: 1;
}

.dotBase.bigDot {
  width: 35px;
  height: 35px;
}

.greenDot {
  background-color: #00853e;
}

.redDot {
  background-color: #ee2e24;
}

.grayDot {
  background-color: #5a5758;
  /*  background-color: #737171; */
}

.dotText {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-left: -8px;
  margin-top: 5px;
  position: absolute;
  text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

/*
 * Section Header
 */

.sectionHeader {
  font-weight: bold;
  margin-bottom: 3px;
}

/*
 * RecordEvent
 * TODO: more unique css name
 * TODO: kill the original event css classes if new ones work
 */

.event {
  margin-left: 50px;
  margin-bottom: 20px;
}

.eventIcon {
  margin-left: -40px;
  margin-top: 1px;
  position: absolute;
}

.eventTimestamp {
  color: #5a5758;
  font-size: smaller;
  margin-left: 9px;
  margin-top: 1px;
  margin-bottom: 3px;
}

.eventContent {
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.oldEvent {
  margin-left: 50px;
  border: 1px solid #737171;
  margin-bottom: 20px;
}

.oldEventIcon {
  margin-left: -41px;
  margin-top: -1px;
  position: absolute;
}

.oldEventHeader {
  background-color: #1c3f95;
  color: white;
  padding: 2px;
}

.oldEventContent {
  padding: 2px;
}

/**
 * Colors from London Tube. Names are original 
 * (http://chriskempson.github.io/base16/#londontube) 
 */
.lt-black { color: #231f20; }
.lt-darkblue { color: #1c3f95; }
.lt-darkestgray { color: #5a5758; }
.lt-darkgray { color: #737171; }
.lt-metalgray { color: #959ca1; }
.lt-lightgray { color: #d9d8d8; }
.lt-lighestgray { color: #e7e7e8; }
.lt-white { color: #ffffff; }
.lt-red { color: #ee2e24; }
.lt-pink { color: #f386a1; }
.lt-yellow { color: #ffd204; }
.lt-green { color: #00853e; }
.lt-lightgreen { color: #85cebc; }
.lt-lightblue { color: #009ddc; }
.lt-magenta { color: #98005d; }
.lt-brown { color: #b06110; }

.lt-black-bg { background-color: #231f20; }
.lt-darkblue-bg { background-color: #1c3f95; }
.lt-darkestgray-bg { background-color: #5a5758; }
.lt-darkgray-bg { background-color: #737171; }
.lt-metalgray-bg { background-color: #959ca1; }
.lt-lightgray-bg { background-color: #d9d8d8; }
.lt-lighestgray-bg { background-color: #e7e7e8; }
.lt-white-bg { background-color: #ffffff; }
.lt-red-bg { background-color: #ee2e24; }
.lt-pink-bg { background-color: #f386a1; }
.lt-yellow-bg { background-color: #ffd204; }
.lt-green-bg { background-color: #00853e; }
.lt-lightgreen-bg { background-color: #85cebc; }
.lt-lightblue-bg { background-color: #009ddc; }
.lt-magenta-bg { background-color: #98005d; }
.lt-brown-bg { background-color: #b06110; }

div.lt-black-border { border-color: #231f20; }
div.lt-darkblue-border { border-color: #1c3f95; }
div.lt-darkestgray-border { border-color: #5a5758; }
div.lt-darkgray-border { border-color: #737171; }
div.lt-metalgray-border { border-color: #959ca1; }
div.lt-lightgray-border { border-color: #d9d8d8; }
div.lt-lighestgray-border { border-color: #e7e7e8; }
div.lt-white-border { border-color: #ffffff; }
div.lt-red-border { border-color: #ee2e24; }
div.lt-pink-border { border-color: #f386a1; }
div.lt-yellow-border { border-color: #ffd204; }
div.lt-green-border { border-color: #00853e; }
div.lt-lightgreen-border { border-color: #85cebc; }
div.lt-lightblue-border { border-color: #009ddc; }
div.lt-magenta-border { border-color: #98005d; }
div.lt-brown-border { border-color: #b06110; }
