/*
 * variables.less
 *
 * Variables. Well, mostly colors right now
 */

/* color definitions */
@bluishGray: #8C98B8;
@mediumGray: #92969D;
@darkGray: #74777D;

@blue: #2980b9;
@anchorBlue: #136CB2;

@red: #e82110;
@redBoxBg: #f7e6e6;
@redBoxBorder: #d1abab;
@redGlow: #e82110;

@green: #139543;
@greenBoxBg: #e6f2e4;
@greenBoxBorder: #8cb89c;
@greenGlow: #139543;

@bluishGrayGlow: #8C98B8;

@redGrayMix: softlight(@mediumGray, @red);

/* other */

@lightBorder: #C7CCD9;
@fainterBorder: #dde8ef;

/* selected item (e.g. builds page side items) */ 
@selectedBg: #eceff5;
@selectedBorder: #dfe1e9;

/* what color to use for monospace boxes (code, config, etc.) */
@preBg: #fdf3da;
@preBorder: #c9b8a8;

/* used to show the admin message at the top of the page */
@messageBg: #dee7f8;
@messageBorder: #a7b5bf;
