<tr class="status-{{build.status.id}} result-{{build.result.id}}"
    slyEvaluateOnlyWhen="build.dateModified">
    <td class="name">
      <a ui-sref="build_details({project_id: build.project.slug, build_id: build.id})" class="indicator">#{{build.number}}</a>
      <data-commit-info commit="build" show-branches="showBranches" title="buildTitle"></data-commit-info>
    </td>

    <td class="duration" ng-if="isFinished">
      <span duration="build.duration"></span>
    </td>
    <td class="duration" ng-if="!isFinished">
      <span ng-if="isQueued">
        Queued
      </span>
      <span ng-if="!isQueued">
        <span type="{{build.result.id}}"
              value="estimatedProgress"
              animate="false"
              progressbar>&nbsp;</span>
      </span>
    </td>

    <td class="coverage" ng-if="features.coverage">
        <span ng-if="hasCoverage && isFinished">
            {{coveragePercent}}%<br>
            <small>{{build.stats.diff_lines_covered}} lines</small>
        </span>
    </td>

    <td class="tests" ng-if="features.tests">
        {{build.stats.test_count}}
    </td>

    <td class="date" time-since="build.dateCreated"></td>
</tr>
