<div class="page-header build-header status-{{build.status.id}} result-{{build.result.id}}"
     slyEvaluateOnlyWhen="build.dateModified">
    <ul class="crumb">
        <li class="nodiv">
            <a ui-sref="build_details()" class="indicator">#{{build.number}}</a>
        </li>
    </ul>
    <div class="actions">
        <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <nav class="dropdown-menu dropdown-menu-right">
            <ul class="nav">
                <li><a ui-sref="project_source_details({source_id: build.source.id})">
                    <i class="glyphicon glyphicon-search"></i> View Changes</a>
                </li>
                <li ng-if="hasTests"><a ui-sref="build_test_list()">
                    <i class="glyphicon glyphicon-list-alt"></i> View Test Report</a>
                </li>
                <li ng-if="isFinished"><a href="javascript:void(0)" ng-click="restartBuild()">
                    <i class="glyphicon glyphicon-repeat"></i> Recreate Build
                </a></li>
                <li ng-if="!isFinished"><a href="javascript:void(0)" ng-click="cancelBuild()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel Build
                </a></li>
            </ul>
        </nav>
    </div>
    <div class="seen-by">
        <ul>
            <li ng-repeat="seenUser in seenBy" ng-class="seenUser.email == build.author.email ? 'active' : ''">
                <a tooltip="{{seenUser.email}}"
                   tooltip-placement="bottom">
                    <img src="{{seenUser.avatar}}&amp;s=16">
                </a>
            </li>
        </ul>
    </div>
    <h2>
        {{build.name}}<br>
        <small>
            Commit  <a ui-sref="project_source_details({project_id: build.project.id, source_id: build.source.id})">{{build.source.revision.sha.substr(0,12)}}</a>
            <span ng-if="build.source.revision.branches">
                to <span class="branch" ng-repeat="branch in build.source.revision.branches">{{branch}}</span>
            </span>
        </small>
    </h2>
</div>
