<div class="panel panel-danger" ng-if="failureList">
    <div class="panel-heading">
        <h3 class="panel-title">Build Failed</h3>
    </div>
    <div class="panel-body">
        <ul class="failure-list">
            <li ng-repeat="failure in failureList" bind-once>
                <span class="indicator"></span>
                <span ng-bind-html="failure.reason" class="failure-label"></span>
                <span class="failure-count" ng-if="failure-count > 1">({{failure.count}})</span>
            </li>
        </ul>
    </div>
</div>

<div class="row build-info" slyEvaluateOnlyWhen="build.dateModified">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <dl class="flat">
            <dt>Status:</dt>
            <dd>{{build.status.name}} <span ng-if="build.status.id == 'finished'">({{build.result.name}})</span></dd>
            <dt ng-if="build.dateStarted">Started:</dt>
            <dd ng-if="build.dateStarted" time-since="build.dateStarted"></dd>
            <dt ng-if="build.duration">Duration:</dt>
            <dd ng-if="build.duration" duration="build.duration"></dd>
            <dt ng-if="hasCoverage">Coverage:</dt>
            <dd ng-if="hasCoverage">{{coveragePercent}}% (overall)</dd>
            <dt ng-if="hasTests">Tests:</dt>
            <dd ng-if="hasTests">
                <a ui-sref="build_test_list()">{{build.stats.test_count}}</a>
                <span ng-if="build.stats.test_failures">({{build.stats.test_failures}} failures)</span>
            </dd>
        </dl>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7">
        <img src="{{build.author.avatar}}&amp;s=64" class="build-avatar hidden-sm">
        <dl class="flat" ng-hide="build.source.isCommit">
            <dt ng-if="build.source.revision">Parent:</dt>
            <dd ng-if="build.source.revision">
                <a ui-sref="project_source_details({project_id: build.project.id, source_id: build.source.id})">{{build.source.revision.sha.substr(0, 12)}}</a>
            </dd>
            <dt>Patch:</dt>
            <dd><a href="/api/0/patches/{{build.source.patch.id}}/?raw=1" target="_self">{{build.source.patch.id}}</a></dd>
            <dt>Discovered:</dt>
            <dd time-since="build.source.dateCreated"></dd>
        </dl>
        <dl class="flat" ng-show="build.source.isCommit">
            <dt>Commit:</dt>
            <dd>
                <a ui-sref="project_source_details({project_id: build.project.id, source_id: build.source.id})">{{build.source.revision.sha.substr(0, 12)}}</a>
            </dd>
            <dt>Discovered:</dt>
            <dd time-since="build.source.dateCreated"></dd>
            <dt ng-if="build.source.revision.author">Author:</dt>
            <dd ng-if="build.source.revision.author">
                <span ng-if="build.author.email">{{build.source.revision.author.email}}</span>
                <span ng-if="!build.author.email">{{build.source.revision.author.name}}</span>
            </dd>
        </dl>
    </div>
</div>

<pre ng-if="formattedBuildMessage" class="build-message"
     ng-bind-html="formattedBuildMessage"></pre>
