<div class="row" slyEvaluateOnlyWhen="build.dateModified">
    <div class="col-lg-9 col-md-8">
        <dl class="flat">
            <dt ng-if="build.source.revision">Revision:</dt>
            <dd ng-if="build.source.revision">
                <a ui-sref="project_commit_details({project_id: build.project.id, commit_id: build.source.revision.id})">{{build.source.revision.id}}</a>
            </dd>
            <dt ng-if="build.source.patch">Patch:</dt>
            <dd ng-if="build.source.patch"><a href="/api/0/patches/{{build.source.patch.id}}/?raw=1" target="_self">{{build.source.patch.id}}</a></dd>
            <dt>Status:</dt>
            <dd>{{build.status.name}} <span ng-if="build.status.id == 'finished'">({{build.result.name}})</span></dd>
            <dt ng-if="build.dateStarted">Started:</dt>
            <dd ng-if="build.dateStarted" time-since="build.dateStarted"></dd>
            <dt ng-if="build.duration">Duration:</dt>
            <dd ng-if="build.duration" duration="build.duration"></dd>
            <dt ng-if="hasCoverage">Coverage:</dt>
            <dd ng-if="hasCoverage">{{coveragePercent}}% (overall)</dd>
        </dl>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="panel panel-default">
            <ul class="nav nav-small">
                <li><a ui-sref="project_source_details({source_id: build.source.id})">
                    <i class="glyphicon glyphicon-search"></i> View Changes</a>
                </li>
                <li><a ui-sref="build_test_list()">
                    <i class="glyphicon glyphicon-list-alt"></i> View Test Report</a>
                </li>
                <li ng-if="build.status.id == 'finished'"><a href="javascript:void(0)" ng-click="restartBuild()">
                    <i class="glyphicon glyphicon-repeat"></i> Recreate Build</a>
                </li>
                <li ng-if="build.status.id != 'finished'"><a href="javascript:void(0)" ng-click="cancelBuild()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel Build</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<pre ng-if="formattedBuildMessage" class="build-message"
     ng-bind-html="formattedBuildMessage"></pre>

<ul class="event-list" ng-if="eventList">
    <li ng-repeat="event in eventList" class="result-{{event.data.status}}" bind-once>
        <span class="indicator"></span>
        <!-- TODO(dcramer): we need an abstraction for how to render each event -->
        <span class="event-label">{{event.type}}</span> &mdash; <span time-since="event.dateCreated" class="event-time"></span>
    </li>
</ul>
