<div class="page-header build-header status-{{build.status.id}} result-{{build.result.id}}">
    <ul class="crumb" bind-once>
        <li class="nodiv">
            <a ui-sref="build_details()" class="indicator">#{{build.number}}</a>
        </li>
    </ul>
    <div class="seen-by" bind-once>
        <ul>
            <li ng-repeat="seenUser in seenBy" ng-class="seenUser.email == build.author.email ? 'active' : ''">
                <a tooltip="{{seenUser.email}}"
                   tooltip-placement="bottom">
                    <img src="{{seenUser.avatar}}&amp;s=16">
                </a>
            </li>
        </ul>
    </div>
    <h2 bind-once>
        {{build.name}}<br>
        <small>
            <span class="branch" ng-repeat="branch in build.source.revision.branches">{{branch}}</span>
            <a ui-sref="project_source_details({source_id: build.source.id})">{{build.target}}</a>
            <span ng-if="build.author"> &mdash; {{build.author.name}} <span ng-if="build.author.email"> ({{build.author.email}})</span></span>
        </small>
    </h2>
</div>
