<section class="section" ng-if="testFailures.total">
    <div class="section-header">
        <h3>
            Failing Tests
            <small ng-show="isFinished">
                <a ui-sref="build_test_list({result: 'failed'})">{{testFailures.total}} total</a>
            </small>
            <small ng-hide="isFinished">
                <a ui-sref="build_test_list({result: 'failed'})">{{testFailures.total}} and counting</a>
            </small>
        </h3>
    </div>

    <table class="grid-list"
           slyEvaluateOnlyWhen="testFailures.tests.length">
        <thead>
            <tr class="grid-list-header">
                <th style="padding-left: 20px">Test</th>
                <th class="column">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="testCase in testFailures.tests"
                class="result-{{testCase.result.id}}">
                <td>
                    <span class="indicator indicator-sm"></span>

                    <a ui-sref="test_details({job_id: testCase.job.id, test_id: testCase.id})">{{testCase.name|truncate:80}}</a><br>
                    <small>
                        <a ui-sref="project_test_details({test_id: testCase.hash})">History</a>
                        <span ng-if="testCase.origin">
                            &mdash; This failure likely originated in <a href="{{testCase.origin.link}}">{{testCase.origin.target}}</a><span ng-if="testCase.origin.author"> &mdash; {{testCase.origin.author.name}}</span>
                        </span>
                    </small>
                </td>
                <td class="column" duration="testCase.duration"></td>
            </tr>
        </tbody>
    </table>
</section>
