<div class="row build-info" slyEvaluateOnlyWhen="build.dateModified">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <dl class="flat">
            <dt>Status:</dt>
            <dd ng-show="job.status.id == 'in_progress'">
                <span type="{{job.result.id}}"
                  value="build|buildEstimatedProgress"
                  animate="false"
                  progressbar>&nbsp;</span>
            </dd>
            <dd ng-show="job.status.id != 'in_progress'">
                {{job.status.name}} <span ng-if="job.status.id == 'finished'">({{job.result.name}})</span>
            </dd>
            <dt ng-if="job.dateStarted">Started:</dt>
            <dd ng-if="job.dateStarted"><span time-since="job.dateStarted"></span></dd>
            <dt ng-if="job.duration">Duration:</dt>
            <dd ng-if="job.duration" duration="job.duration"></dd>
        </dl>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7">
        <div class="avatar-wrapper">
            <img src="{{build.author.avatar}}&amp;s=64" class="build-avatar hidden-sm">
            <dl class="flat" ng-hide="build.source.isCommit">
                <dt ng-if="build.source.revision">Parent:</dt>
                <dd ng-if="build.source.revision">
                    <a ui-sref="project_source_details({project_id: build.project.id, source_id: build.source.id})">{{build.source.revision.sha.substr(0, 12)}}</a>
                </dd>
                <dt>Patch:</dt>
                <dd><a href="/api/0/patches/{{build.source.patch.id}}/?raw=1" target="_self">{{build.source.patch.id}}</a></dd>
                <dt>Discovered:</dt>
                <dd><span time-since="build.source.dateCreated"></span></dd>
            </dl>
            <dl class="flat" ng-show="build.source.isCommit">
                <dt>Commit:</dt>
                <dd>
                    <a ui-sref="project_source_details({project_id: build.project.id, source_id: build.source.id})">{{build.source.revision.sha.substr(0, 12)}}</a>
                </dd>
                <dt>Discovered:</dt>
                <dd><span time-since="build.source.dateCreated"></span></dd>
                <dt ng-if="build.source.revision.author">Author:</dt>
                <dd ng-if="build.source.revision.author">
                    <span ng-if="build.author.email">{{build.source.revision.author.email}}</span>
                    <span ng-if="!build.author.email">{{build.source.revision.author.name}}</span>
                </dd>
            </dl>
        </div>
    </div>
</div>
