/*

// navbar
background: #58488a;
color: #c7c0de;

*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding-top: 50px;
  font-size: 15px;
  background: #f7f5fa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h2 {
  font-family: 1.6em;
}

th {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
a, a:hover, a:active, a:focus {
  color: #6e5baa;
}

pre {
  border: 0;
  color: #333;
  background: #f7f5fa;
}

dl.flat {
  position: relative;
  padding-left: 110px;
}
dl.flat dt {
  position: absolute;
  left: 0;
  width: 100px;
}

.container {
  width: 800px;
}

.navbar {
  background: #58488a;
  color: #c7c0de;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #c7c0de;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a > .badge {
  background: #63519e;
  color: #c7c0de;
  font-weight: normal;
}
.navbar .navbar-nav > li.active > a {
  background: #63519e;
  color: #fff;
}
.navbar .navbar-nav > li.active > a > .badge {
  background: #58488a;
  color: #fff;
}

.body {
  background: #fff;
  padding: 20px 0;
}

.page-header {
  margin-top: 0;
}

.build-header,
.page-header,
.phase-header,
.stage-header {
  position: relative;
}

.indicator {
  width: 100px;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: block;
  background: #f7f5fa;
}

.indicator.active {
  background: none !important;
}

.result-unknown .indicator,
.result-aborted .indicator {
  color: #fff;
  background: #aaa;
}
.result-skipped .indicator {
  color: #fff;
  background: gold;
}
.result-failed .indicator,
.result-timedout .indicator,
.result-errored .indicator {
  color: #fff;
  background: #d9322d;
}

.result-passed .indicator {
  color: #fff;
  background: #58488a;
}

.change-header h2,
.build-header h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 44px;
  height: 42px;
}
.change-header .indicator,
.change-header .indicator > div,
.build-header .indicator,
.build-header .indicator > div {
  width: 34px;
  height: 34px;
}
.change-header .indicator,
.build-header .indicator {
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 34px;
}


.build-list,
.change-list {
  list-style: none;
  padding-left: 0;
}


.change-list td:first-child,
.build-list td:first-child {
  width: 32px;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 15px;
}
.change-list > tbody > tr > td,
.build-list > tbody > tr > td {
  border-top: 0;
  position: relative;
}

.change-list td .indicator,
.change-list td .indicator > div,
.build-list td .indicator,
.build-list td .indicator > div {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: relative;
}
.change-list a,
.build-list a {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 730px;
}
.change-list td small,
.build-list td small,
.change-list td .date,
.build-list td .date,
.change-list td .status,
.build-list td .status {
  color: #999;
  font-weight: 300;
}
.change-list td .date,
.build-list td .date,
.change-list td .status,
.build-list td .status {
  position: absolute;
  font-size: 0.7em;
  right: 15px;
}
.change-list td .date,
.build-list td .date {
  bottom: 10px;
}
.change-list td .status,
.build-list td .status {
  top: 10px;
}

.change-list > tbody > tr:nth-child(odd) > td,
.build-list > tbody > tr:nth-child(odd) > td {
  background: #f7f5fa;
}


.build-message {
  margin-bottom: 20px;
}

.phase-list {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.phase-list > li {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.phase-list > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.phase-list > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.phase-list.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
}
.phase-list > li > a {
  height: 43px;
  border-radius: 0;
  border: 0;
  padding-right: 30px;
  padding-left: 0;
  background: #f7f5fa;
  color: #c7c0de;
  border-color: #f7f5fa;
}
.phase-list > li.result-passed > a {
  background: #58488a;
  color: #c7c0de;
  border-color: #58488a;
}
.phase-list > li.result-aborted > a {
  color: #fff;
  background: #aaa;
  border-color: #aaa;
}
.phase-list > li.result-skipped > a {
  color: #fff;
  background: gold;
  border-color: gold;
}
.phase-list > li.result-failed > a,
.phase-list > li.result-errored > a,
.phase-list > li.result-timedout > a {
  background: #d9322d;
  color: #fff;
  border-color: #d9322d;
}

.phase-list > li > a:before {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -19px;
  width: 0;
  display: block;
  content: " ";
  border: 21px solid transparent;
  border-width: 21px 19px;
  border-left-color: white;
  background: inherit;
}
.phase-list > li > a:after {
  z-index: 3;
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  width: 0;
  display: block;
  content: " ";
  border: 19px solid transparent;
  border-width: 21px 19px;
  border-left-color: inherit;
}
.phase-list > li:first-child > a:before,
.phase-list > li:last-child > a:after {
  display: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #58488a;
  color: #fff;
}
.nav-pills > li.active > a > .badge {
  color: #6e5baa;
}

.test-results > tbody > tr > td {
  border: 0;
}
.test-results > tbody > tr.status-failed > td {
  color: #d9322d;
}
.test-results > tbody > tr.status-skipped > td {
  color: orange;
}
.test-results > tbody > tr > td > a {
  color: inherit;
}

footer {
  color: #333;
  background: #f7f5fa;
  min-height: 150px;
}


/**
 * Animations
 */

.change-list tr.ng-enter {
  opacity: 0.2;
  transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}
.change-list tr.ng-enter-active {
  opacity: 1;
}

.alert-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.alert-list .alert {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-width: 1px 0;
}

.alert-list .alert .container {
  padding: 15px 25px 15px 0;
}

span {
  /* Making this inline-block lets us use it as soft-wrap */
  display: inline-block;
}
