/*

// navbar
background: #58488a;
color: #c7c0de;

*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding-top: 70px;
}

.container {
  width: 800px;
}

.navbar {
  background: #58488a;
  color: #c7c0de;
}
.navbar a,
.navbar a:hover,
.navbar a:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #c7c0de;
}
.navbar .navbar-nav > li > a > .badge {
  background: #63519e;
  color: #c7c0de;
  font-weight: normal;
}
.navbar .navbar-nav > li.active > a {
  background: #63519e;
  color: #fff;
}
.navbar .navbar-nav > li.active > a > .badge {
  background: #58488a;
  color: #fff;
}

.navbar-brand {
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h2 {
  font-family: 1.6em;
}

h1, h2, h3, h4, h5, h6,
a, a:hover, a:active, a:focus {
  color: #6e5baa;
}

pre {
  border: 0;
  color: #333;
  background: #f7f5fa;
}

dl.flat {
  position: relative;
  padding-left: 110px;
}
dl.flat dt {
  position: absolute;
  left: 0;
  width: 100px;
}

.page-header {
  margin-top: 0;
}

.build-header,
.page-header,
.phase-header,
.stage-header {
  position: relative;
}

.indicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100px;
  border-radius: 40px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.status-failed .indicator {
  color: #fff;
  background: #d9322d;
}
.status-passed .indicator {
  color: #fff;
  background: #2fd034;
}
.status-unknown .indicator {
  color: #fff;
  background: #999;
}

.build-header h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 44px;
}
.build-header .indicator {
  border-radius: 34px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  bottom: 10px;
  text-indent: -10000em;
  overflow: hidden;
}


.build-list {
  list-style: none;
  padding-left: 0;
}

.build-list td:first-child {
  width: 30px;
  vertical-align: middle;
  padding-left: 15px;
}
.build-list > tbody > tr > td {
  border-top: 0;
  position: relative;
}
.build-list td .indicator {
  border-radius: 0;
  overflow: hidden;
  text-indent: -10000em;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
}
.build-list a {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.build-list td small {
  color: #999;
}
.build-list > tbody > tr:nth-child(odd) > td {
  background: #f7f5fa;
}


.phase-list {
  list-style: none;
  padding-left: 0;
}
.phase-list > li {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.phase-list > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.phase-list > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.phase-list > li > a {
  border-radius: 0;
  border: 0;
}
.phase-list > li.status-passed > a {
  background: #2fd034;
  color: #fff;
}
.phase-list > li.status-failed > a {
  background: #d9322d;
  color: #fff;
}

.stage-list {
  list-style: none;
  padding-left: 0;
}

.stage-list > li {
  padding: 5px;
}

.stage-list > li:nth-child(odd) {
  background: #f9f9f9;
}

.phase-header .indicator {
  width: 100px;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
}

.stage-header .indicator {
  width: 80px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #58488a;
  color: #fff;
}
.nav-pills > li.active > a > .badge {
  color: #6e5baa;
}

.test-results > tbody > tr > td {
  border: 0;
}
.test-results > tbody > tr.status-passed > td {
  color: #2fd034;
}
.test-results > tbody > tr.status-failed > td {
  color: #d9322d;
}

footer {
  min-height: 300px;
}
