/*

// navbar
background: #58488a;
color: #c7c0de;

*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding-top: 50px;
  font-size: 15px;
  background: #f7f5fa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h2 {
  font-family: 1.6em;
}

th {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
a, a:hover, a:active, a:focus {
  color: #6e5baa;
}

pre {
  border: 0;
  color: #333;
  background: #f7f5fa;
}

dl.flat {
  position: relative;
  padding-left: 110px;
}
dl.flat dt {
  position: absolute;
  left: 0;
  width: 100px;
}

.container {
  width: 800px;
}

.navbar {
  background: #58488a;
  color: #c7c0de;
}
.navbar a,
.navbar a:hover,
.navbar a:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #c7c0de;
}
.navbar .navbar-nav > li > a > .badge {
  background: #63519e;
  color: #c7c0de;
  font-weight: normal;
}
.navbar .navbar-nav > li.active > a {
  background: #63519e;
  color: #fff;
}
.navbar .navbar-nav > li.active > a > .badge {
  background: #58488a;
  color: #fff;
}

.body {
  background: #fff;
  padding: 20px 0;
}

.page-header {
  margin-top: 0;
}

.build-header,
.page-header,
.phase-header,
.stage-header {
  position: relative;
}

.indicator {
  width: 100px;
  border-radius: 40px;
  display: block;
  background: #f7f5fa;
}

.indicator.active {
  background: none !important;
}

.result-aborted .indicator {
  color: #fff;
  background: #aaa;
}
.result-skipped .indicator {
  color: #fff;
  background: gold;
}
.result-failed .indicator,
.result-timedout .indicator,
.result-errored .indicator {
  color: #fff;
  background: #d9322d;
}

.result-passed .indicator {
  color: #fff;
  background: #58488a;
}

.build-header h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 44px;
  height: 42px;
}
.build-header .indicator,
.build-header .indicator > div {
  width: 34px;
  height: 34px;
}
.build-header .indicator {
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 34px;
}


.build-list {
  list-style: none;
  padding-left: 0;
}

.build-list td:first-child {
  width: 32px;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 15px;
}
.build-list > tbody > tr > td {
  border-top: 0;
  position: relative;
}
.build-list td .indicator,
.build-list td .indicator > div {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: relative;
}
.build-list a {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.build-list td small {
  color: #999;
  font-weight: 300;
}
.build-list td small .date {
  position: absolute;
  right: 15px;
}
.build-list > tbody > tr:nth-child(odd) > td {
  background: #f7f5fa;
}


.phase-list {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.phase-list > li {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.phase-list > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.phase-list > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.phase-list.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
}
.phase-list > li > a {
  height: 43px;
  border-radius: 0;
  border: 0;
  padding-right: 30px;
  padding-left: 0;
  background: #f7f5fa;
  color: #c7c0de;
  border-color: #f7f5fa;
}
.phase-list > li.result-passed > a {
  background: #58488a;
  color: #c7c0de;
  border-color: #58488a;
}
.phase-list > li.result-aborted > a {
  color: #fff;
  background: #aaa;
  border-color: #aaa;
}
.phase-list > li.result-skipped > a {
  color: #fff;
  background: gold;
  border-color: gold;
}
.phase-list > li.result-failed > a,
.phase-list > li.result-errored > a,
.phase-list > li.result-timedout > a {
  background: #d9322d;
  color: #fff;
  border-color: #d9322d;
}

.phase-list > li > a:before {
  z-index: 2;
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border: 21px solid transparent;
  border-bottom-width: 22px;
  border-left-color: white;
  background: inherit;
}
.phase-list > li > a:after {
  z-index: 3;
  position: absolute;
  top: 1px;
  right: -18px;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border: 20px solid transparent;
  border-bottom-width: 21px;
  border-left-color: inherit;
}
.phase-list > li:first-child > a:before,
.phase-list > li:last-child > a:after {
  display: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #58488a;
  color: #fff;
}
.nav-pills > li.active > a > .badge {
  color: #6e5baa;
}

.test-results > tbody > tr > td {
  border: 0;
}
.test-results > tbody > tr.status-failed > td {
  color: #d9322d;
}

footer {
  color: #333;
  background: #f7f5fa;
  min-height: 150px;
}
