/*

// navbar
background: #58488a;
color: #c7c0de;

*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding-top: 50px;
  font-size: 15px;
  background: #f7f5fa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
h1 small,
h2 small,
h3 small,
h4 small {
  font-weight: 300;
}

h4 small {
  font-size: 0.7em;
}

h2 {
  font-family: 1.6em;
}

th {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
a, a:hover, a:active, a:focus {
  color: #6e5baa;
}

pre {
  border: 0;
  color: #333;
  background: #f7f5fa;
}

dl.flat {
  position: relative;
  padding-left: 110px;
  margin-top: 0;
}
dl.flat dt {
  position: absolute;
  left: 0;
  width: 100px;
}

.container {
  margin: 0 auto;
}

.navbar {
  background: #58488a;
  color: #c7c0de;
}
.navbar .navbar-text {
  color: #c7c0de;
  font-size: 0.8em;
}
.navbar .navbar-text a {
  color: #fff;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #c7c0de;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar .navbar-nav > li > a > .badge {
  background: #63519e;
  color: #c7c0de;
  font-weight: normal;
}
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus {
  background: #63519e;
  color: #fff;
}
.navbar .navbar-nav > li.active > a > .badge {
  background: #58488a;
  color: #fff;
}

.body {
  background: #fff;
  padding: 20px 0;
}

.page-header {
  margin-top: 0;
}

.build-header,
.page-header,
.phase-header,
.stage-header,
.test-header {
  position: relative;
}

.indicator {
  width: 100px;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: block;
  background: #f7f5fa;
}

.indicator.active {
  background: none !important;
}

.result-unknown .indicator,
.result-aborted .indicator {
  color: #fff;
  background: #aaa;
}
.result-skipped .indicator {
  color: #fff;
  background: gold;
}
.result-passed .indicator {
  color: #fff;
  background: rgb(114, 194, 114);
}
.result-failed .indicator {
  color: #fff;
  background: #d9322d;
}

.project-list {
  position: relative;
  list-style: none;
  padding-left: 0;
}
.project-list > li {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 0 0.5px;
  margin-bottom: 1px;
  float: left;
  display: block;
}
.project-list > li > a {
  display: block;
  background: #c7c0de;
  text-align: center;
  height: 178px;
  padding: 50px 10px;
}
.project-list > li > a:hover {
  text-decoration: none;
}
.project-list > li h4 {
  color: inherit;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
  text-align: center;
}
.project-list > li small {
  display: block;
  color: inherit;
  font-weight: 300;
  color: #666;
}

.project-list > li.result-skipped > a {
  color: #fff;
  background: gold;
}
.project-list > li.result-passed > a {
  color: #fff;
  background: rgb(114, 194, 114);
}
.project-list > li.result-passed > a small {
  color: rgb(208, 255, 208);
}
.project-list > li.result-failed > a {
  color: #fff;
  background: #d9322d;
}
.project-list > li.result-failed > a small {
  color: #FFCAC8;
}

tr.result-failed,
tr.result-failed a {
  color: #d9322d;
}

.change-header h2,
.build-header h2 {
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 44px;
  height: 42px;
}
.build-header h2 small {
  font-size: 0.7em;
}
.change-header .indicator,
.change-header .indicator > div,
.build-header .indicator,
.build-header .indicator > div {
  width: 34px;
  height: 34px;
}
.change-header .indicator,
.build-header .indicator {
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 34px;
}


.build-list,
.change-list {
  list-style: none;
  padding-left: 0;
}


.change-list td:first-child,
.build-list td:first-child {
  width: 32px;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 15px;
}
.change-list > tbody > tr > td,
.build-list > tbody > tr > td {
  border-top: 0;
  position: relative;
}

.change-list td .indicator,
.change-list td .indicator > div,
.build-list td .indicator,
.build-list td .indicator > div {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: relative;
}
.change-list td > a,
.build-list td > a {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 600px;
}
.change-list td small,
.build-list td small,
.change-list td .date,
.build-list td .date,
.change-list td .status,
.build-list td .status {
  color: #999;
  font-weight: 300;
}
.change-list td .date,
.build-list td .date,
.change-list td .status,
.build-list td .status {
  background: inherit;
  position: absolute;
  font-size: 0.7em;
  right: 15px;
}
.change-list td .date,
.build-list td .date {
  bottom: 10px;
}
.change-list td .status,
.build-list td .status {
  top: 10px;
}

.change-list > tbody > tr:nth-child(odd) > td,
.build-list > tbody > tr:nth-child(odd) > td {
  background: #f7f5fa;
}
.well {
  background: #f7f5fa;
  border: 0;
  box-shadow: none;
}

.build-message {
  margin-bottom: 20px;
}

.phase-list {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.phase-list > li {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.phase-list > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.phase-list > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.phase-list.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
}
.phase-list > li > a {
  height: 43px;
  border-radius: 0;
  border: 0;
  padding-right: 30px;
  padding-left: 0;
  background: #f7f5fa;
  color: #c7c0de;
  border-color: #f7f5fa;
}
.phase-list > li.result-aborted > a {
  color: #fff;
  background: #aaa;
  border-color: #aaa;
}
.phase-list > li.result-skipped > a {
  color: #fff;
  background: gold;
  border-color: gold;
}

.phase-list > li.result-passed > a {
  color: #fff;
  background: rgb(114, 194, 114);
  border-color: rgb(114, 194, 114);
}
.phase-list > li.result-failed > a {
  background: #d9322d;
  color: #fff;
  border-color: #d9322d;
}

.phase-list > li > a:before {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -19px;
  width: 0;
  display: block;
  content: " ";
  border: 21px solid transparent;
  border-width: 21px 19px;
  border-left-color: white;
  background: inherit;
}
.phase-list > li > a:after {
  z-index: 3;
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  width: 0;
  display: block;
  content: " ";
  border: 19px solid transparent;
  border-width: 21px 19px;
  border-left-color: inherit;
}
.phase-list > li:first-child > a:before,
.phase-list > li:last-child > a:after {
  display: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #58488a;
  color: #fff;
}
.nav-pills > li.active > a > .badge {
  color: #6e5baa;
}

.test-list {
  line-height: 1.8em;
}
.test-list > li {

}
.test-list li a {
  color: inherit;
}
.test-list li small {
  font-weight: 300;
}

.test-results > tbody > tr > td {
  border: 0;
}
.test-results > tbody > tr.status-failed > td {
  color: #d9322d;
}
.test-results > tbody > tr.status-skipped > td {
  color: orange;
}
.test-results > tbody > tr > td > a {
  color: inherit;
}

footer {
  color: #333;
  background: #f7f5fa;
  min-height: 150px;
}


/**
 * Animations
 */

.change-list tr.ng-enter {
  opacity: 0.2;
  transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}
.change-list tr.ng-enter-active {
  opacity: 1;
}

.alert-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.alert-list .alert {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-width: 1px 0;
}

.alert-list .alert .container {
  padding: 15px 25px 15px 0;
}

span {
  /* Making this inline-block lets us use it as soft-wrap */
  display: inline-block;
}


/*!
 * angular-loading-bar v0.0.5
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2013 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;

  background: #c7c0de;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  top: 0;
}

/* Fancy blur effect */
#loading-bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #c7c0de, 0 0 5px #c7c0de;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  top: 18px;
  right: 20px;
  z-index: 1000000;
}

.spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #c7c0de;
  border-left-color: #c7c0de;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 600ms linear infinite;
  -moz-animation:    loading-bar-spinner 600ms linear infinite;
  -ms-animation:     loading-bar-spinner 600ms linear infinite;
  -o-animation:      loading-bar-spinner 600ms linear infinite;
  animation:         loading-bar-spinner 600ms linear infinite;
}

.nav .spinner-icon {
  display: none;
}

.nav .active .spinner-icon {
  display: inline-block;
}

.nav .spinner-icon {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

chart {
  display: block;
  margin-bottom: 20px;
}


/* barChart.js */
.barchart {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
  padding-left: 0;
  font-size: 0.75em;
  height: 10em;
  border-bottom: 1px solid #eee;
}
.barchart li {
  width: 2%;
  position: relative;
  min-height: 5px;
  padding: 0 0.5px;
  float: right;
  display: block;
  height: 100%;
  border-bottom: 1px solid #eee;
}
.barchart li a {
  position: relative;
  display: block;
  height: 100%;
}
.barchart li.active {
  border-bottom-color: #aaa;
}
.barchart li .label {
  display: none;
}
.barchart li a .count {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 0;
  min-height: 5px;
  width: 100%;
  background: #AAA;
  text-indent: -9999px;
  overflow: hidden;
}
.barchart li:hover a {
  background: #EFEFEF;
}

.barchart li.result-passed a .count {
  background: rgb(114, 194, 114);
}
.barchart li.result-failed a .count {
  background: #EB6D69;
}
.barchart li.result-skipped a .count {
  background: rgb(255, 215, 0);
}
.barchart li.result-aborted a .count {
  background: #aaa;
}
.barchart li.result-unknown a .count {
  background: #ddd;
}

.tooltip-inner {
  max-width: 400px;
}

.barchart-tip {
  font-weight: normal;
  text-align: left;
  padding: 10px 10px 0;
}
.barchart-tip h5 {
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  color: #fff;
}

.breadcrumb li.active a {
  color: inherit;
  text-decoration: none;
}

.test-header {
  margin-bottom: 30px;
}
.test-header h3 {
  font-size: 1.3em;
}

.build-log {
  border-radius: 6px;
  height: 300px;
  background: #333;
  color: #ddd;
  padding: 9.5px;
  font-size: 14px;
  font-weight: 300;
  min-height: 50px;
  overflow: auto;
  resize: vertical;
}
.build-log-inner {
  overflow: scroll;
  white-space: pre-wrap;
}
