/*

// navbar
background: #58488a;
color: #c7c0de;

*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding-top: 50px;
  font-size: 15px;
  background: #f7f5fa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  margin-top: 0;
}
h1 small,
h2 small,
h3 small,
h4 small {
  font-weight: 300;
}

h4 small {
  font-size: 0.7em;
}

h1 {
  font-size: 2em;
}

h1 small {
  font-size: 0.7em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

th {
  font-weight: normal;
}

a, a:hover, a:active, a:focus {
  color: #6e5baa;
}

pre {
  border: 0;
  color: #333;
  background: #f7f5fa;
}

fieldset {
  margin-bottom: 20px;
}

dl.flat {
  display: block;
  position: relative;
  padding-left: 110px;
  margin-top: 0;
}
dl.flat dt,
dl.flat dd {
  line-height: 1.6em;
  min-height: 1.6em;
}
dl.flat dt {
  font-weight: normal;
  color: #666;
}
dl.flat dt {
  position: absolute;
  left: 0;
  width: 100px;
}
dd .progress {
  margin: 0;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

input, select, textarea {
  font-weight: 300;
}

.container {
  margin: 0 auto;
}
.panel-body {
  padding-bottom: 0;
}
.navbar {
  background: #fff;
  color: #000;
}
.navbar .container {
  position: relative;
}
.navbar .navbar-form {
  margin-top: 10px;
}
.navbar .navbar-form input[type=text] {
  color: #333;
  font-size: 12px;
  border-radius: 2px;
  height: 30px;
  background: #eee;
  border-color: #eee;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar .navbar-form .form-control::-webkit-input-placeholder {
  color: #aaa;
}
.navbar .navbar-form .form-control::-moz-placeholder {
  color: #aaa;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000;
}
.navbar .navbar-brand {
  font-weight: 200;
  float: left;
  margin-left: -15px;
  position: relative;
  padding: 15px 15px 14px 50px;
}
.navbar .navbar-nav > li > a {
  color: #ccc;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #333;
}
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus {
  color: #333;
  background: inherit;
}
.navbar .navbar-nav > li.active > a > .badge {
  color: #333;
}
.navbar-admin {
  background: #6e5baa;
  color: #fff;
  border-bottom-color: #6e5baa;
}
.navbar-admin .navbar-brand,
.navbar-admin .navbar-brand:focus,
.navbar-admin .navbar-brand:hover {
  color: #fff;
}
.navbar-admin a:hover,
.navbar-admin a:focus {
  color: #fff;
}

.navbar-logo {
  position: absolute;
  left: 1px;
  top: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 15px;
  color: inherit;
  z-index: 101;
}


.navbar-stats .stat {
  padding: 15px 5px;
  margin-right: 10px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
}
.navbar-stats .stat .change {
  position: relative;
  background: #bbb;
  color: #fff;
  font-size: 10px;
  padding: 3px 5px;
  top: -1px;
  margin-left: 3px;
  border-radius: 2px;
}
.navbar-stats .stat .change.good {
  background: rgb(156, 207, 156);;
}
.navbar-stats .stat .change.bad {
  background: #EB9B99;
}
.navbar-stats .stat .change .arrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 2px;
  top: -1px;
  vertical-align: middle;
  content: "";
}
.navbar-stats .stat .change.up .arrow {
  border-bottom: 6px solid #fff;
  border-right: 3px solid transparent;
  border-top: 0 dotted;
  border-left: 3px solid transparent;
}

.navbar-stats .stat .change.down .arrow {
  border-top: 6px solid #fff;
  border-right: 3px solid transparent;
  border-bottom: 0 dotted;
  border-left: 3px solid transparent;
}

.changes-navbar-small li a {
  padding: 15px 5px;
}

.branch {
  margin-top: 0;
  border-radius: 2px;
  background: #eee;
  color: #333;
  padding: 0 3px;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-right: 3px;
  vertical-align: text-middle;
}
.branch:nth-child(2) {
  background: #d3d1ff;
}
.branch:nth-child(3) {
  background: #d1fbff;
}
.branch:nth-child(4) {
  background: #d1ffdb;
}
.branch:nth-child(5) {
  background: #ffd1ed;
}

.project-selector {
  width: auto;
  display: block;
  z-index: 20000;
  max-width: 550px;
  float: left;
  margin-left: -15px;
  display: block;
  height: auto;
}

.project-selector > .dropdown-toggle {
  padding: 15px 15px 14px 50px;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  max-width: 430px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 200;
  border: 1px solid #fff;
  border-width: 0 1px 1px;
  z-index: 101;
}
.project-selector.open > .dropdown-toggle {
  border-color: #e7e7e7;
  border-bottom-color: #fff;
}
.project-selector.open,
.project-selector.open > a {
  background: #fff;
}
.project-selector .caret {
  border-top-color: #000;
  margin-left: 8px;
}
.project-selector .dropdown-menu {
  z-index: 100;
  max-height: 400px;
  max-width: 502px;
  overflow: auto;
  position: absolute;
  min-height: 50px;
  padding: 10px;
  margin: 0;
  left: 0;
  margin-top: -1px;
  border-top: none;
  color: #fff;
  background: #fff;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 6px 6px;
}
.project-selector .dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.project-selector .dropdown-menu ul li {
  margin: 0;
  display: inline-block;
}
.project-selector .dropdown-menu ul li a {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 160px;
}
.project-selector .dropdown-menu ul li a:hover,
.project-selector .dropdown-menu ul li.active a {
  color: #6e5baa;
}

.body {
  background: #fff;
  padding: 20px 0;
}

.section {
  position: relative;
  margin-bottom: 30px;
}

.section-header {
  position: relative;
  margin-bottom: 20px;
}
.section-header h3 {
  padding-right: 15px;
}
.section-header h1, .section-header h2, .section-header h3 {
  margin: 0;
}

.section-header .form-inline input[type=text] {
  height: 26px;
  background: #f0f0f0;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 200px;
}
.section-header .form-inline input[type=text]:focus {
  color: #000;
}
.section-header .form-inline .btn {
  background: inherit;
  font-size: 16px;
  padding: 0;
  color: #aaa;
  margin-left: 5px;
}

.section-boxed {
  border: 1px solid #eee;
  border-bottom: 0;
}
.section-boxed .section-header {
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}
.section-boxed .section-header h3,
.section-boxed .section-header .timing,
.section-boxed .section-header .toggle,
.section-boxed .section-header .indicator-wrapper {
  position: relative;
  background: inherit;
  display: inline-block;
  z-index: 2;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
}
.section-boxed .section-header .toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: inherit;
}
.section-boxed .section-header .toggle a {
  padding: 18px 10px;
  display: block;
  font-size: 10px;
  text-align: center;
  color: #999;
  cursor: pointer;
  border-left: 1px solid #eee;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  text-decoration: none;
}
.section-boxed .section-header .toggle a:before {
  content: "\e114";
}
.section-boxed .section-header .toggle-open a:before {
  content: "\e113";
}
.section-boxed .section-header .timing {
  position: absolute;
  right: 40px;
  top: 12px;
  color: #aaa;
  font-size: 14px;
  padding-left: 15px;
}
.section-boxed .section-header .indicator,
.section-boxed .section-header .spinner-icon {
  margin: 5px 0;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.section-boxed .section-header .indicator-wrapper {
  margin-right: 10px;
}

.section-boxed .section-body {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.section-boxed .section-body .grid-list {
}
.section-boxed .section-body .grid-list tr:last-child td {
  border-bottom: 0;
}
.section-boxed .section-body .build-log {
  margin: 0 -20px -10px;
}
.section-boxed .section-body ul:last-child {
  margin-bottom: 0;
}

.page-header {
  margin-top: 0;
  border-bottom: 0;
  position: relative;
}

.page-header .crumb {
  float: left;
  font-size: 34px;
  height: 48px;
  line-height: 48px;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.page-header .crumb li {
  display: inline-block;
}
.page-header .crumb li:after {
  color: #ddd;
  padding: 0 5px;
  content: "/\00a0";
}
.page-header .crumb li.nodiv:after {
  content: "";
}
.page-header .crumb .indicator {
  padding: 0 10px;
}
.page-header .indicator {
  padding: 0 3px;
}
.page-header .branch {
  font-size: 0.7em;
  line-height: 22px;
}

.page-header h1, .page-header h2, .page-header h3 {
  margin: 0;
}

.build-header,
.page-header,
.phase-header,
.stage-header,
.test-header,
.section-header {
  position: relative;
}

.indicator {
  font-weight: 300;
  color: #aaa;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
  height: auto;
}
a.indicator {
  text-decoration: none;
}

.result-aborted .indicator {
  color: #fff;
  background: #aaa;
  border-color: #aaa;
}
.result-passed .indicator {
  color: #fff;
  background: rgb(114, 194, 114);
  border-color: rgb(114, 194, 114);
}
.result-failed .indicator {
  color: #fff;
  background: #d9322d;
  border-color: #d9322d;
}
.result-skipped .indicator {
  color: #fff;
  background: rgb(255, 215, 0);
  border-color: rgb(255, 215, 0);
}
.result-unknown .indicator {
  color: #aaa;
  background: #fff;
  border: 1px solid #ccc;
}

.seen-by ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.seen-by li {
  float: left;
  margin: 0;
  padding: 0;
}
.seen-by li.active img {
  opacity: 1;
}
.seen-by img {
  display: block;
  opacity: 0.3;
  padding: 2px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

.build-header h2 {
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 44px;
  min-height: 48px;
  margin-bottom: 0;
}
.build-header h2 small {
  font-size: 0.7em;
}

.build-header .seen-by {
  position: absolute;
  right: 40px;
  top: 5px;
  bottom: 20px;
  max-width: 150px;
}

.page-header .actions {
  position: absolute;
  right: 0;
  top: 5px;
}
.page-header .actions .dropdown-toggle {
  padding: 0 5px;
}
.page-header .actions .dropdown-toggle .caret {
  border-width: 8px 6px 0;
}
.page-header .actions .dropdown-menu {
  width: 250px;
}
.page-header .actions small {
  color: #999;
}

.build-info {
  white-space: nowrap;
}

.build-avatar {
  position: absolute;
  left: 0;
  top: 5px;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-right: 20px;
}

.build-info .avatar-wrapper {
  position: relative;
  padding-left: 84px;
}

.pager li > a {
  border-radius: 4px;
}

.project-list {
  position: relative;
  list-style: none;
  padding-left: 0;
}
.project-list > li,
.indicated-list.project-list > li {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 0 0.5px;
  margin-bottom: 1px;
  float: left;
  display: block;
}

.project-list > li .indicator {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.project-list > li > a {
  position: relative;
  display: block;
  padding: 5px 5px 5px 55px;
  border-radius: 8px;
}
.project-list > li > a:hover {
  background: #eee;
}
.project-list > li > a:hover {
  text-decoration: none;
}
.project-list > li h4 {
  color: inherit;
  overflow: hidden;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: inherit;
}
.project-list > li small {
  display: block;
  color: inherit;
  font-weight: 300;
  color: #666;
}
.project-list .sep {
  padding: 0 5px;
}
.project-list-wide > li > a {
  text-align: center;
  height: 130px;
  padding: 40px 10px;
  border-radius: 0;
}
.project-list-wide > li h4 {
  margin-bottom: 10px;
}
.project-list-wide > li .indicator {
  display: none;
}
.project-list-wide > li > a {
  background: #c7c0de;
}
.project-list-wide > li.result-skipped > a {
  color: #fff;
  background: gold;
}
.project-list-wide > li.result-passed > a {
  color: #fff;
  background: rgb(114, 194, 114);
}
.project-list-wide > li.result-passed > a small {
  color: rgb(208, 255, 208);
}
.project-list-wide > li.result-failed > a {
  color: #fff;
  background: #d9322d;
}
.project-list-wide > li.result-failed > a small {
  color: #FFCAC8;
}

@media (max-width: 1200px) {
  .project-list > li {
    width: 33%;
  }
}
@media (max-width: 992px) {
  .project-list > li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .project-list > li {
    width: 50%;
  }
  .project-list > li > a small {
    display: none;
  }
  .project-list > li > a h4 {
    margin: 0;
    display: inline;
  }
  .project-list .stat {
    display: none;
  }
  .project-list-wide > li > a {
    padding: 20px 10px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .project-list > li {
    width: 100%;
  }
}

table > tbody > tr > td.result {
  vertical-align: middle;
  width: 12px;
}
table > tbody > tr > td.result span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: #aaa;
}

table > tbody > tr.result-failed > td.result span {
  background-color: #d9322d;
}
table > tbody > tr.result-passed > td.result span {
  background-color: rgb(114, 194, 114);
}
table > tbody > tr.result-skipped > td.result span {
  background-color: gold;
}

.grid-list {
  width: 100%;
}
.grid-list td,
.grid-list th,
.build-list td,
.build-list th {
  position: relative;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .build-list .duration,
  .build-list .coverage,
  .build-list .tests,
  .build-list .date,
  .build-list-header {
    display: none;
  }
}

.grid-list-header,
.build-list-header {
  min-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  color: #aaa;
}
.grid-list-header a {
  color: inherit;
}

table.build-list {
  table-layout:fixed;
  max-width:100%;
  width: 100%;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: 20px;
}
.grid-list th,
.grid-list td,
.build-list th,
.build-list td {
  padding: 10px 0 10px 20px;
}
.grid-list th:first-child,
.grid-list td:first-child,
.build-list th:first-child,
.build-list td:first-child {
  padding: 10px 0;
}

.grid-list-header .column,
.build-list-header .duration,
.build-list-header .tests,
.build-list-header .coverage,
.build-list-header .date {
  margin-top: 0;
}

.grid-list .indicator,
.grid-list .spinner-icon,
.build-list .indicator {
  float: left;
  margin-right: 10px;
}

.grid-list .indicator,
.grid-list .spinner-icon {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
}

.grid-list .indicator-sm,
.grid-list .spinner-icon-sm {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-list .meta {
  color: #999;
}
.grid-list .meta strong {
  font-weight: normal;
  color: #000;
}

.build-list .indicator {
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
}

.build-list h5 {
  margin: 0;
  line-height: 1.3;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-list h5 {
  margin: 0;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.build-list .info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 17px;
}
.build-list .info .branch {
  font-size: 9px;
}

.grid-list .column,
.build-list .duration,
.build-list .tests,
.build-list .coverage,
.build-list .date {
  text-align: right;
  font-weight: 300;
  white-space: nowrap;
}
.grid-list .column.left-align {
  text-align: left;
}
.build-list .duration {
  width: 120px;
}
.build-list .coverage {
  width: 70px;
}
.build-list .tests {
  width: 60px;
}
.build-list .date {
  width: 150px;
}
.grid-list .column {
  width: 120px;
}

.grid-list .progress,
.build-list .progress {
  margin: 0;
  display: inline-block;
  height: 12px;
  width: 100px;
}

.build-list .branch {
  text-align: top;
}

.progress-bar,
.progress-bar {
  background: #aaa;
}

.progress-bar-passed {
  background: rgb(114, 194, 114);
}

.progress-bar-failed {
  background: #d9322d;
}

.well {
  background: #f7f5fa;
  border: 0;
  box-shadow: none;
}

.progress {
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.build-message {
  margin-bottom: 20px;
}

.phase-list {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.phase-list > li {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.phase-list > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.phase-list > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.phase-list > li:first-child:last-child > a {
  border-radius: 4px;
}
.phase-list.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
}
.phase-list > li > a {
  height: 43px;
  border-radius: 0;
  border: 0;
  padding-right: 30px;
  padding-left: 0;
  background: #f7f5fa;
  color: #c7c0de;
  border-color: #f7f5fa;
}
.phase-list > li.result-aborted > a {
  color: #fff;
  background: #aaa;
  border-color: #aaa;
}
.phase-list > li.result-skipped > a {
  color: #fff;
  background: gold;
  border-color: gold;
}

.phase-list > li.status-finished.result-passed > a {
  color: #fff;
  background: rgb(114, 194, 114);
  border-color: rgb(114, 194, 114);
}
.phase-list > li.result-failed > a {
  background: #d9322d;
  color: #fff;
  border-color: #d9322d;
}

.phase-list > li > a:before {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -19px;
  width: 0;
  display: block;
  content: " ";
  border: 21px solid transparent;
  border-width: 21px 19px;
  border-left-color: white;
  background: inherit;
}
.phase-list > li > a:after {
  z-index: 3;
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  width: 0;
  display: block;
  content: " ";
  border: 19px solid transparent;
  border-width: 21px 19px;
  border-left-color: inherit;
}
.phase-list > li:first-child > a:before,
.phase-list > li:last-child > a:after {
  display: none;
}

.phase-list pre {
  padding: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #58488a;
  color: #fff;
}
.nav-pills > li.active > a > .badge {
  color: #6e5baa;
}
.nav-pills > li.result-failed > a {
  color: #d9322d;
}
.nav-pills > li.active.result-passed > a {
  background: rgb(114, 194, 114);
  color: #fff;
}
.nav-pills > li.active.result-failed > a {
  background: #d9322d;
  color: #fff;
}

.nav-links > li {
  display: inline-block;
}
.nav-links > li > a {
  color: #aaa;
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  padding: 0 0 1px;
  margin: 0 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid #fff;
}
.nav-links > li > a:hover {
  background: inherit;
  color: #6e5baa;
}
.nav-links > li.active > a {
  border-color: #ddd;
}
.nav-links > li.active > a:hover {
  border-color: #6e5baa;
}
.nav-links > li.result-failed > a {
  color: #d9322d;
}
.nav-links > li.result-failed > a:hover {
  border-color: #d9322d;
}

.nav-links-sm > li > a {
  margin: 0 5px;
}

.nav-list > li > a {
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  padding: 5px 10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
.nav-list > li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}
.nav-list > li.nav-header {
  margin-bottom: 9px;
}
.nav-list > li.nav-header > h6 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.nav-list > li.open > a {
  color: #000;
}

.test-list {
  list-style: none;
  padding-left: 0;
}
.test-list > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}
.test-list > li i {
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 2.2em;
  display: block;
}
.test-list > li.test-added {
  color: green;
}
.test-list > li.test-removed {
  color: #d9322d;
}
.test-list li a {
  color: inherit;
}
.test-list li small {
  font-weight: 300;
}

.test-results > tbody > tr > td {
  border: 0;
}
.test-results > tbody > tr.status-failed > td {
  color: #d9322d;
}
.test-results > tbody > tr.status-skipped > td {
  color: orange;
}
.test-results > tbody > tr > td > a {
  color: inherit;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 12px;
  background: #f7f5fa;
  min-height: 150px;
}

span {
  /* Making this inline-block lets us use it as soft-wrap */
  display: inline-block;
}


/*!
 * angular-loading-bar v0.0.5
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2013 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;

  background: #c7c0de;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  top: 0;
}

/* Fancy blur effect */
#loading-bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #c7c0de, 0 0 5px #c7c0de;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  top: 18px;
  right: 20px;
  z-index: 1000000;
}

.spinner-icon {
  width: 14px;
  height: 14px;

  margin: 0 auto;

  border:  solid 2px transparent;
  border-top-color:  #c7c0de;
  border-left-color: #c7c0de;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 600ms linear infinite;
  -moz-animation:    loading-bar-spinner 600ms linear infinite;
  -ms-animation:     loading-bar-spinner 600ms linear infinite;
  -o-animation:      loading-bar-spinner 600ms linear infinite;
  animation:         loading-bar-spinner 600ms linear infinite;
}

.spinner-large {
  width: 64px;
  height: 64px;
  border-radius: 60px;
}

.nav .spinner-icon {
  display: none;
}

.nav .active .spinner-icon {
  display: inline-block;
}

.nav .spinner-icon {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.nav .indicator,
.nav .indicator > span {
  width: 16px;
  height: 16px;
}
.nav .indicator {
  margin-right: 5px;
  border-radius: 12px;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

chart {
  display: block;
  margin-bottom: 20px;
}


/* barChart.js */
.barchart {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
  padding-left: 0;
  font-size: 0.75em;
  height: 10em;
  border-bottom: 1px solid #eee;
}
.barchart li {
  width: 2%;
  position: relative;
  min-height: 5px;
  padding: 0 0.5px;
  float: right;
  display: block;
  height: 100%;
  border-bottom: 1px solid #eee;
}
.barchart li a {
  position: relative;
  display: block;
  height: 100%;
}
.barchart li.active {
  border-bottom-color: #aaa;
}
.barchart li .label {
  display: none;
}
.barchart li a .count {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 0;
  min-height: 5px;
  width: 100%;
  background: #AAA;
  text-indent: -9999px;
  overflow: hidden;
}
.barchart li:hover a {
  background: #EFEFEF;
}

.barchart li.result-passed a .count {
  background: rgb(114, 194, 114);
}
.barchart li.result-failed a .count {
  background: #EB6D69;
}
.barchart li.result-skipped a .count {
  background: rgb(255, 215, 0);
}
.barchart li.result-aborted a .count {
  background: #aaa;
}
.barchart li.result-unknown a .count {
  background: #ddd;
}

d3barchart {
  display: block;
  border-bottom: 1px solid #EFEFEF;
}

.bar {
  fill: #EFEFEF;
}

.bar:hover {
  fill: red;
}

.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 6px 12px;
  font-size: 12px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: #333;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}


.tooltip-inner {
  max-width: 400px;
}

.barchart-tip {
  font-weight: normal;
  text-align: left;
  padding: 10px 10px 0;
}
.barchart-tip h5 {
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  color: #fff;
}

.breadcrumb li.active a {
  color: inherit;
  text-decoration: none;
}

.test-header {
  margin-bottom: 30px;
}
.test-header h3 {
  font-size: 1.3em;
}

.build-log-wrapper {
  position: relative;
}

.build-log {
  max-height: 500px;
  color: #000;
  border: 1px solid #eee;
  border-width: 1px 0;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  min-height: 50px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  resize: vertical;
}
.build-log a {
  color: #c7c0de;
  text-decoration: underline;
}
.build-log a:hover,
.build-log a:focus {
  color: #fff;
}
.build-log .line {
  font-family: monospace, serif;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.build-log.expanded {
  height: auto;
  max-height: none;
  min-height: none;
  overflow: auto;
}

.expand-log-link {
  position: absolute;
  right: 20px;
  top: 5px;
  color: #c7c0de;
  border: 2px solid #c7c0de;
  background: #fff;
  padding: 5px;
}
.expand-log-link i {
  margin-right: 10px;
}
.expand-log-link:hover,
.expand-log-link:focus {
  color: #000;
  border-color: #000;
  text-decoration: none;
}

.build-log-inner {
  overflow: scroll;
  white-space: pre-wrap;
}


.help {
  font-size: 0.85em;
  border-bottom: 1px dotted #999;
}


/* Button Styles */
.btn-default {
  color: #58488a;
  border-color: #c7c0de;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background: #63519e;
  color: #fff;
  border-color: #63519e;
}

.btn-primary {
  background: #58488a;
  color: #fff;
  border-color: #58488a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active, {
  background: #58488a;
  border-color: #58488a;
}
.open .dropdown-toggle.btn-primary,
.dropdown-toggle.btn-primary:hover,
.btn-primary.active {
  background: #63519e;
  color: #fff;
  border-color: #63519e;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background: #999;
  border-color: #999;
}

.form-submit {
  position: relative;
  display: block;
}
.fixed-form-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.form-submit,
.fixed-form-submit .container {
  font-size: 12px;
}
.fixed-form-submit .container {
  border: 1px solid #58488a;
  border-bottom: 0;
  background: #63519e;
  padding: 10px;
  color: #fff;
}
.form-submit p,
.fixed-form-submit p {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
.form-submit button,
.fixed-form-submit button {
  float: right;
}

label.btn input[type=checkbox] {
  margin: 0 5px 0 0;
}

.pager a {
  cursor: pointer;
}


/* notify.js */
.notifyjs-plain-base {
  font-size: 12px;
  padding: 5px 8px;
  border: 1px solid #c7c0de;
  background-color: #c7c0de;
  border-color: #c7c0de;
  color: #333;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: 3px 7px;
}
.notifyjs-plain-base a {
  color: inherit;
  font-weight: bold;
}
.notifyjs-plain-success {
  background: rgb(175, 224, 175);
  border-color: rgb(175, 224, 175);
}
.notifyjs-plain-error {
  background: #E78987;
  border-color: #E78987;
}

.loading {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* ngAnimate */
[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition: .35s; /* Chrome */
  transition: .35s;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.build-list > tbody.ng-enter, .build-list > tbody.ng-leave {
  -webkit-transition: 1s; /* Chrome */
  transition: 1s;
}
.build-list > tbody.ng-enter {
  opacity: 0;
}
.build-list > tbody.ng-leave-active {
  opacity: 0;
}
.build-list > tbody.ng-leave {
  opacity: 1;
}
.build-list > tbody.ng-enter-active {
  opacity: 1;
}

.nav a .glyphicon {
  margin-right: 10px;
}

.alert a {
  color: inherit;
  font-weight: bold;
}

.alert {
  border: 0;
}

.alert-icon {
  position: relative;
  height: 20px;
  width: 30px;
  margin-right: 10px;
  display: block;
  float: left;
}
.alert-icon i {
  font-size: 2em;
  position: absolute;
  left: 0;
  top: -8px;
}

.alert-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.alert-list .alert {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-width: 1px 0;
}

.alert-list .alert .container {
  padding: 15px 25px 15px 0;
}

.unknown-coverage .coverage-info,
.unknown-coverage .tooltip-inner {
  background-color: #ddd;
  color: #000;
}
.unknown-coverage .tooltip-arrow {
  border-right-color: #ddd !important;
}

.negative-coverage .coverage-info,
.negative-coverage .tooltip-inner {
  background-color: #da4f49;
}
.negative-coverage .tooltip-arrow {
  border-right-color: #da4f49 !important;
}

.positive-coverage .coverage-info,
.positive-coverage .tooltip-inner {
  background-color: #5bb75b;
}
.positive-coverage .tooltip-arrow {
  border-right-color: #5bb75b !important;
}

.coverage-info {
  position: absolute;
  margin-left: -16px;
  margin-right: 6px;
  width: 10px;
}

.addition {
  color: chartreuse;
}

.deletion {
  color: red;
}

.event-list,
.failure-list,
.indicated-list {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0;
  color: #999;
}
.event-list > li,
.failure-list > li,
.indicated-list > li {
  padding-left: 18px;
  position: relative;
}
.event-list .indicator,
.failure-list .indicator,
.indicated-list .indicator {
  border: 0;
  background: #999;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: block;
  top: 7px;
  position: absolute;
  left: 0;
}
.event-list .result-success .indicator,
.indicated-list .result-success .indicator,
.indicated-list .result-passed .indicator {
  background: rgb(114, 194, 114);
}
.event-list .result-fail .indicator,
.failure-list .indicator,
.indicated-list .result-fail .indicator,
.indicated-list .result-failed .indicator {
  background: #d9322d;
}
.event-list .event-label,
.failure-list .failure-label,
.indicated-list .failure-label {
  color: #000;
}


/**
 * Animations via ngAnimate
 */

.change-list tr.ng-enter {
  opacity: 0.2;
  transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}
.change-list tr.ng-enter-active {
  opacity: 1;
}


/**
 * typeahead.js
 */

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  margin: 0;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #6e5baa;
}
.twitter-typeahead {
  width: 100%;
}
