<html lang="en">
<head><title>#{{ build.number }}.{{ job.number }} {{ job.result }}</title></head>
<body><div style="line-height: 1.5em;">

<h2 style="font-weight:normal">
	{{ build.label }} <small style="color:#999">{{ build.target or build.revision_sha }}</small><br>
	<small style="color:#999">{{ job.label }}</small>
</h2>

<dl>
	<dt style="font-weight:bold;float:left;width:60px;">Job:</dt>
	<dd><a href="{{ job.uri }}">{{ job.label }}</a></dd>
	{% if job.author %}
		<dt style="font-weight:bold;float:left;width:60px;">Author:</dt>
		<dd>{{ job.author.name }}</dd>
	{% endif %}
</dl>

{% if test_failures %}
	<h3>Test Failures <small style="color:#999">{{ total_test_failures }} total</small></h3>

	<ul>
		{% for test in test_failures %}
			<li><a href="{{ test.uri }}">{{ test.name }}</a></li>
		{% endfor %}
	</ul>
{% endif %}

{% if build_log %}
	<h3>Build Log <small style="color:#999">{{ build_log.name }}</small></h3>

	<pre style="font-size:0.85em">{{ build_log.text }}</pre>

	<p><a href="{{ build_log.link }}">View full log</a></p>
{% endif %}

</div></body></html>
