{% extends "layout.html" %}

{% block content %}
	<table class="build-list table table-striped">
		{% for build in build_list %}
			<tr class="status-{{ build.result.name }}">
				<td><span class="indicator">{{ build.result }}</span></td>
				<td>
					{% if build.label != build.parent_revision_sha %}
						<a href="{{ reverse_url('build-details', build.project.slug, build.id.hex) }}">{{ build.label }}</a><br>
						<small>{{ build.parent_revision_sha[:12] }}</small>
					{% else %}
						<a href="{{ reverse_url('build-details', build.project.slug, build.id.hex) }}">{{ build.label }}</a>
					{% end %}
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
