{% extends "layout.html" %}

{% block content %}
	<table class="build-list table table-striped">
		{% for build in build_list %}
			<tr class="status-{{ build.result.name }}">
				<td><span class="indicator">{{ build.result }}</span></td>
				<td>
					<a href="{{ reverse_url('build-details', build.project.slug, build.id.hex) }}">{{ build.label }}</a><br>

					<small>
						<a href="#">{{ build.project.name }}</a>{% if build.author %} &mdash; {{ build.author.name }}{% end %}
						{% if build.date_finished %}
							<span class="date">{{ build.date_finished }} &mdash; {{ '%.2f' % (build.duration / 1000.0) }}s</span>
						{% end %}
					</small>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
