<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="pageTitle">Changes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if SENTRY_PUBLIC_DSN %}
      <script type="text/javascript" src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
      <script type="text/javascript">
      Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
        whitelistUrls: [/changes\.build\.itc\.dropbox\.com/]
      }).install();
      </script>
    {% endif %}
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='vendor/highlightjs/styles/tomorrow-night-bright.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/styles.css') }}?4" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/ansi.css') }}?1" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="reactRoot">
      <div class="loading">
        <div class="spinner-icon spinner-large"></div>
      </div>
    </div>
    <script 
      data-main="{{ url_for('static', filename='experimental/main') }}" 
      src="{{ url_for('static', filename='vendor/requirejs/require.js') }}">
    </script>
    <script>
      requirejs.config({
        baseUrl: '{{ url_for('static', filename='experimental/') }}'
      });
      window.APP_VERSION = '{{ VERSION }}';
    </script>
  </body>
</html>
