<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Changes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/styles.css') }}?4" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="layoutCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="row container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#">Changes</a>
        </div>
        <div class="navbar-collapse collapse navbar-header-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="navClass('/builds/')"><a href="/builds/">Builds</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <flash-messages></flash-messages>

    <section class="body">
      <div class="row container" data-spy="scroll" data-target="#header-nav">
        <div ng-view></div>
      </div>
    </section>

    <footer></footer>

    <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='vendor/requirejs/require.js') }}"></script>
  </body>
</html>
