<!doctype html>
<html ng-controller="layoutCtrl">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="pageTitle">Changes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if SENTRY_PUBLIC_DSN %}
      <script type="text/javascript" src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
      <script type="text/javascript">
      Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
        whitelistUrls: [/changes\.build\.itc\.dropbox\.com/]
      }).install();
      </script>
    {% endif %}
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='vendor/nvd3/nv.d3.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='vendor/highlightjs/styles/tomorrow-night-bright.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/styles.css') }}?4" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/ansi.css') }}?1" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="row container" style="display:none">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% raw %}
          <div class="project-selector">
            <a href="{{ url_for('index') }}" title="Dashboard" class="logo">
              <i class="glyphicon glyphicon-th"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown">
              <span ng-if="activeProject">{{activeProject.name}}</span>
              <span ng-if="!activeProject">Projects</span>
              <span class="caret"></span>
            </a>
            <nav class="dropdown-menu">
              <ul>
                <li ng-repeat="project in projectList" ng-class="project.id == activeProject.id ? 'active' : ''">
                  <a href="{{project.link}}">{{project.name}}</a>
                </li>
              </ul>
            </nav>
          </div>
          {% endraw %}
        </div>
        <ul class="nav navbar-nav navbar-right changes-navbar-small">
          <li id="my-builds"><a href="/my/builds/" title="My Builds"><i class="glyphicon glyphicon-user"></i></a></li>
          <li><a href="{{ url_for('logout') }}" target="_self" title="Logout"><i class="glyphicon glyphicon-off"></i></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" ng-if="activeProject" ng-submit="searchBuilds()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="projectSearchQuery.query" placeholder="e.g. D1234 or b1e3708a1e81">
          </div>
        </form>
        {% raw %}
        <div class="navbar-collapse collapse navbar-header-collapse" ng-if="activeProject">
          <ul class="nav navbar-nav">
            <li ng-class="navPath == 'builds' ? 'active': ''"><a href="{{activeProject.link}}">Builds</a></li>
            <li ng-class="navPath == 'tests' ? 'active': ''"><a href="{{activeProject.link}}tests/">Tests</a></li>
            <li ng-class="navPath == 'commits' ? 'active': ''"><a href="{{activeProject.link}}commits/">Commits</a></li>
            <li ng-class="navPath == 'stats' ? 'active': ''"><a href="{{activeProject.link}}stats/">Stats</a></li>
          </ul>
        </div>
        {% endraw %}
      </div>
    </nav>

    <flash-messages></flash-messages>

    <section class="body">
      <div class="row container" data-spy="scroll" data-target="#header-nav">
        <div ng-view></div>
      </div>
    </section>

    <footer>
      Changes {{ VERSION }} &mdash; Made with love from <a href="https://opensource.dropbox.com">Dropbox</a>
    </footer>

    <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='vendor/requirejs/require.js') }}"></script>
    <script>
    requirejs.config({
      baseUrl: '{{ url_for('static', filename='js/') }}'
    });
    </script>
  </body>
</html>
