<!doctype html>
<html ng-app="Buildbox">
  <head>
    <meta charset="utf-8">
    <title>Buildbox</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ static_url('css/styles.css') }}" rel="stylesheet" media="screen">
    <script src="{{ static_url('js/angular-1.1.5.min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Buildbox</a>
        </div>
        <nav class="navbar-collapse" id="header-nav">
          <ul class="nav navbar-nav">
            {% block navbar_links %}{% end %}
          </ul>
        </nav>
      </div>
    </nav>

    <section class="body">
      <div class="container" data-spy="scroll" data-target="#header-nav">
        {% block content %}{% end %}
      </div>
    </section>

    <footer></footer>

    <script src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/app.js') }}"></script>
  </body>
</html>
