<div>
    <h5>
        <a ui-sref="build_details({project_id: commit.project.slug, build_id: commit.id})">{{title}}</a>
    </h5>
    <div class="info">
        <span ng-if="showProject"><a ui-sref="project_builds({project_id: commit.project.slug})">{{commit.project.name}}</a> &mdash;</span>
        <span class="build-tag" ng-repeat="tag in commit.tags">{{tag}}</span>
        <a ui-sref="project_source_details({project_id: commit.project.slug, source_id: commit.source.id})">{{commit.target}}</a>
        <span ng-if="commit.author">&mdash; {{commit.author.name}}</span>
        <span ng-if="commit.stats.test_failures"> &mdash; <span style="color:red">{{commit.stats.test_failures}} test failures</span></span>
    </div>
</div>
