<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="pageTitle">Changes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if SENTRY_PUBLIC_DSN %}
      <script type="text/javascript" src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
      <script type="text/javascript">
      Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
        whitelistUrls: [/changes\.build\.itc\.dropbox\.com/]
      }).install();
      </script>
    {% endif %}
      <script type="text/javascript">
        window.changesGlobals = {
          APP_VERSION: '{{ VERSION }}'
        };
        {% if WEBAPP_USE_ANOTHER_HOST %}
          window.changesGlobals['USE_ANOTHER_HOST'] = 
            '{{ WEBAPP_USE_ANOTHER_HOST }}';
        {% endif %}
        {% if RELEASE_INFO %}
          window.changesGlobals['RELEASE_INFO'] = {{ RELEASE_INFO|tojson|safe }}
        {% endif %}
      </script>
    {% if WEBAPP_CUSTOMIZED_CONTENT %}
      <script type="text/javascript">
        {{ WEBAPP_CUSTOMIZED_CONTENT|safe }}
      </script>
    {% endif %}
    <link href="{{ url_for('webapp_v2.static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ url_for('webapp_v2.static', filename='css/styles.css') }}?4" rel="stylesheet" media="screen">
  </head>
  <body>
    {% if USE_PACKAGED_JS %}
    <div id="reactRoot">
      Loading...
      <script 
        data-main="{{ url_for('webapp_v2.static', filename='dist/built') }}" 
        src="{{ url_for('webapp_v2.static', filename='vendor/requirejs/require.js') }}">
      </script>
    </div>
    {% else %}
    <div id="reactRoot">
      Downloading and transpiling javascript...
    </div>
    <script 
      data-main="{{ url_for('webapp_v2.static', filename='entry') }}" 
      src="{{ url_for('webapp_v2.static', filename='vendor/requirejs/require.js') }}">
    </script>
    <script>
      requirejs.config({
        baseUrl: '{{ url_for('webapp_v2.static', filename='') }}'
      });
    </script>
    {% endif %}
  </body>
</html>
