<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if IS_DEBUG %}
    <title>&#x2699; Changes</title>
    {% else %}
    <title>Changes</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set ERROR_STYLE = "background-color: #a00; border: 1px solid #666; " +
           "color: #fff; padding: 5px; font-family: helvetica, arial"
    %}
    {% if IS_DEBUG %}
    <script type="text/javascript">
      window.onerror = function(errorMsg, url, lineNumber , column, errorObj) {
        if (errorMsg.indexOf("Load timeout for modules") === -1) {
          var wrapperNode = document.createElement('div');
          var textNode = document.createTextNode(errorMsg);
          wrapperNode.appendChild(textNode);
          var escapedMsg = wrapperNode.innerHTML;
          document.getElementById('jsErrors').innerHTML = '<div>' +
            '<b>Javascript Error (dev console has a more accurate error message/line #)</b>' +
            '<div style="font-size: smaller;">' + url + ': ' + lineNumber + '</div>' +
            '<pre>' + escapedMsg + '</pre>' +
            '</div>';
          document.getElementById('jsErrors').style.display = "block";
          return false;
        }
      };
    </script>
    {% else %}
    <script type="text/javascript">
      window.onerror = function(errorMsg, url, lineNumber , column, errorObj) {
        if (errorMsg.indexOf("Load timeout for modules") === -1) {
          document.getElementById('jsErrors').style.display = "block";
        }
        return false;
      };
    </script>
    {% endif %}
    {% if SENTRY_PUBLIC_DSN %}
      <script type="text/javascript" src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
      <script type="text/javascript">
      Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
        whitelistUrls: [/changes\.build\.itc\.dropbox\.com/]
      }).install();
      </script>
    {% endif %}
      <script type="text/javascript">
        window.changesGlobals = {
          {% if IS_DEBUG %}
          IS_DEBUG: true,
          {% endif %}
          APP_VERSION: '{{ VERSION }}',
          PHABRICATOR_HOST: '{{ PHABRICATOR_HOST }}',
        };
        {% if WEBAPP_USE_ANOTHER_HOST %}
          window.changesGlobals['USE_ANOTHER_HOST'] =
            '{{ WEBAPP_USE_ANOTHER_HOST }}';
        {% endif %}
        {% if RELEASE_INFO %}
          window.changesGlobals['RELEASE_INFO'] = {{ RELEASE_INFO|tojson|safe }}
        {% endif %}
      </script>
    {% if WEBAPP_CUSTOM_JS %}
      <script type="text/javascript">
        {{ WEBAPP_CUSTOM_JS |safe }}
      </script>
    {% endif %}
    <link href="{{ url_for('webapp_v2.static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ url_for('webapp_v2.static', filename='css/bootstrap.css') }}?4" rel="stylesheet" media="screen">
    {% if HAS_CUSTOM_CSS %}
      {% assets filters="less", output="css/bundled_with_custom.css", depends=["**/*.less", "custom/**/*.less"], "css/bundle_definition_custom.less" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
        <script type="text"></script>
      {% endassets %}
    {% else %}
      {% assets filters="less", output="css/bundled.css", depends="**/*.less", "css/bundle_definition.less" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
      {% endassets %}
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
  </head>
  <body class="body">
    <div id="jsErrors" style="{{ ERROR_STYLE }}; display: none;">
      Encountered a javascript error. See console for details
    </div>
    <div id="reactRoot">
      <div class="pageHeader">
        <a class="headerLinkBlock darkGray" href="#">My Changes</a>
        <a class="headerLinkBlock darkGray" href="#">Projects</a>
      </div>
    {% if USE_PACKAGED_JS %}
      <div class="paddingTopL paddingLeftM">Loading...</div>
    </div>
    <script
      data-main="{{ url_for('webapp_v2.static', filename='dist/built') }}"
      src="{{ url_for('webapp_v2.static', filename='vendor/requirejs/require.js') }}">
    </script>
    {% else %}
      <div class="paddingTopL paddingLeftM">Downloading and transpiling javascript... (dev only)</div>
    </div>
    <script
      data-main="{{ url_for('webapp_v2.static', filename='entry') }}"
      src="{{ url_for('webapp_v2.static', filename='vendor/requirejs/require.js') }}">
    </script>
    <script>
      requirejs.config({
        baseUrl: '{{ url_for('webapp_v2.static', filename='') }}'
      });
    </script>
    {% endif %}
  </body>
</html>
